<%- include('includes/head.ejs') %>
  <script src="https://cdn.tiny.cloud/1/jzf5bh8mew2nqjyawqxme5g5oaj3c53t15r14hyigzjvwohs/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('includes/navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('includes/sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel"> 
          <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Resume Templates!</h3>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <div class="card shadow mb-4">
                <div class="card-header"> <h5>Resume Templates!</h5>
                </div> 
         
                <div class="card-body">
                  <form id="formAccountSettings" method="POST" action="/save_resume" enctype="multipart/form-data">
                    <div class="row">
                      <input type="number" name="id" hidden value="<%= typeof locals == 'undefined' ? '': locals.id %>">
                     
                      <!-- Resume Title -->
                      <div class="mb-3 col-md-12">
                        <div class="form-group">
                            <label for="resume_title">Resume Title</label>
                            <input type="text" id="resume_title" name="resume_title" class="form-control" placeholder="Enter Resume Title" value="<%- typeof locals != 'undefined' ? locals.resume_title : '' %>"  required>
                        </div>
                    </div>
                    <div class="mb-3 col-md-12">
                      <div class="form-group">
                         <label>Resume Description</label>                                 
                         <textarea name="resume_description" id="resume_description" rows="5" class="form-control" autocomplete="off" placeholder="Enter Your Description"><%- typeof locals != 'undefined' ? locals.resume_description : '' %></textarea>
                      </div>
                    </div>

                    <!-- Resume Category -->
                    <div class="mb-3 col-md-12">
                        <div class="form-group">
                            <label for="resume_category">Resume Category</label>
                            <select id="resume_category" name="resume_category" class="form-control">
                              <option value="simple" <%= typeof locals != 'undefined' && locals.resume_category === 'simple' ? 'selected' : ''  %>>Simple</option>
                              <option value="professional" <%= typeof locals != 'undefined' && locals.resume_category === 'professional' ? 'selected' : ''  %>>Professional</option>
                              <option value="fresher" <%= typeof locals != 'undefined' && locals.resume_category === 'fresher' ? 'selected' : ''  %>>Fresher</option>
                              <option value="experience" <%= typeof locals != 'undefined' && locals.resume_category === 'experience' ? 'selected' : ''  %>>Experience</option>
                              <option value="information_technology" <%= typeof locals != 'undefined' && locals.resume_category === 'information_technology' ? 'selected' : ''  %>>Information Technology</option>
                              <option value="marketing_sales" <%= typeof locals != 'undefined' && locals.resume_category === 'marketing_sales' ? 'selected' : ''  %>>Marketing and Sales</option>
                              <option value="bank_finance" <%= typeof locals != 'undefined' && locals.resume_category === 'bank_finance' ? 'selected' : ''  %>>Bank and Finance</option>
                              <option value="production_operations" <%= typeof locals != 'undefined' && locals.resume_category === 'production_operations' ? 'selected' : ''  %>>Production and Operations</option>
                              <option value="high_ats" <%= typeof locals != 'undefined' && locals.resume_category === 'high_ats' ? 'selected' : ''  %>>High ATS</option>
                              <option value="others" <%= typeof locals != 'undefined' && locals.resume_category === 'others' ? 'selected' : ''  %>>Others</option>
                              <option value="general" <%= typeof locals != 'undefined' && locals.resume_category === 'general' ? 'selected' : ''  %>>General</option>
                            </select>                            
                        </div>
                    </div>              

                   
                    <div class="mb-3 col-md-6">
                      <div class="form-group">
                         <label>Upload Product Image</label>                                 
                         <input type="file" id="photo" name="photo" class="form-control" >
                         <img src="/uploads/<%- typeof locals != 'undefined' ? locals.photo : '' %>"width="200px" height="200px"> 
                         <input type="hidden"  value="<%- typeof locals != 'undefined' ? locals.photo : '' %>" name="photo_file_name" >    
                      </div>
                   </div>

                   <div class="mb-3 col-md-6">
                    <label for="resume_link" class="form-label">Upload Your Template(docx)</label>
                    <input class="form-control" type="file" id="resume_link" name="resume_link" accept=".doc, .docx">
                    <input type="text" hidden value="<%- typeof locals != 'undefined' ? locals.resume_link : '' %>" name="resume_link_name">      
                    <%- typeof locals != 'undefined' && locals.resume_link && locals.resume_link.publicUrls && locals.resume_link.filename ? locals.resume_link.filename : '' %>                       
                    </div>
    
                    <div class="col-md-12 mt-2">
                      <button type="submit" class="btn btn-primary me-2">Save</button>
                      <button type="reset" class="btn btn-outline-secondary ">Reset</button>
                    </div>
        
                  </form>
                </div>
                <!-- /Account -->
              </div>
              </div>
            </div>
          </div>
        </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include('includes/footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
     
</body>
  
                            
                           