<%- include('includes/head.ejs') %>
<body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('includes/navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('includes/sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel"> 
          <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Jobs</h3>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <div class="card shadow mb-4">
                <div class="card-header"> <h5>Add Job</h5>
                </div> 
                <div class="card-body">
                  <form id="formAccountSettings" method="POST" action="/save_job" autocomplete="off" enctype="multipart/form-data">
                    <div class="row">
                      <input type="hidden" name="id"  value="<%= typeof locals == 'undefined' ? '': locals.id %>">
                
                     <div class="mb-3 col-md-6">
                      <div class="form-group">
                         <label> Enter Heading</label>                                 
                         <input type="text" id="heading" name="heading" class="form-control" autocomplete="off" required placeholder="Enter Your Heading" value="<%- typeof locals != 'undefined' ? locals.heading : '' %>" >
                      </div>
                   </div>
                   <div class="mb-3 col-md-6">
                    <div class="form-group">
                       <label> Enter Sub Heading</label>                                 
                       <input type="text" id="sub_heading" name="sub_heading" class="form-control" autocomplete="off"  placeholder="Enter Your Sub Heading" value="<%- typeof locals != 'undefined' ? locals.sub_heading : '' %>" >
                    </div>
                 </div>
                 <div class="mb-3 col-md-6">
                  <div class="form-group">
                     <label> Enter Job Type</label>   
                     <select id="job_type" name="job_type" class="form-control">
                        <option value="">Select Job Type</option>
                        <option value="Full Time"<%= typeof locals != 'undefined' ? (!!locals.job_type) ?  locals.job_type === 'Full Time' ? 'selected' : '' :  '' : '' %>>Full Time</option>
                        <option value="Part Time"<%= typeof locals != 'undefined' ? (!!locals.job_type) ?  locals.job_type === 'Part Time' ? 'selected' : '' :  '' : '' %>>Part Time</option>
                        <option value="Remote"<%= typeof locals != 'undefined' ? (!!locals.job_type) ?  locals.job_type === 'Remote' ? 'selected' : '' :  '' : '' %>>Remote</option>
                        <option value="Freelance"<%= typeof locals != 'undefined' ? (!!locals.job_type) ?  locals.job_type === 'Freelance' ? 'selected' : '' :  '' : '' %>>Freelance</option>
                    </select>                              
                     <!-- <input type="text" id="job_type" name="job_type" class="form-control" autocomplete="off" required placeholder="Enter Job Type" value="<%- typeof locals != 'undefined' ? locals.job_type : '' %>" > -->
                  </div>
               </div>
               <div class="mb-3 col-md-6">
                <div class="form-group">
                   <label> Enter Location</label>                                 
                   <input type="text" id="location" name="location" class="form-control" autocomplete="off" required placeholder="Enter Your Location" value="<%- typeof locals != 'undefined' ? locals.location : '' %>" >
                </div>
             </div>
             <div class="mb-3 col-md-6">
              <div class="form-group">
                 <label> Enter Company Size</label>                                 
                 <input type="number" min="1" id="company_size" name="company_size" class="form-control" autocomplete="off"  placeholder="Enter Company Size" value="<%- typeof locals != 'undefined' ? locals.company_size : '' %>" >
              </div>
           </div>
           <div class="mb-3 col-md-6">
            <div class="form-group">
               <label> Enter Website</label>                                 
               <input type="url" id="website" name="website" class="form-control" autocomplete="off"  placeholder="Enter Your Website" value="<%- typeof locals != 'undefined' ? locals.website : '' %>" >
            </div>
         </div>
         <div class="mb-3 col-md-6">
          <div class="form-group">
             <label> Enter Relocation</label>                                 
             <input type="text" id="relocation" name="relocation" class="form-control" autocomplete="off"  placeholder="Enter Relocation" value="<%- typeof locals != 'undefined' ? locals.relocation : '' %>" >
          </div>
       </div>
       <div class="mb-3 col-md-6">
        <div class="form-group">
           <label> Enter Experience (Do not add years)</label>                                 
           <input type="text" id="experience" name="experience" class="form-control" autocomplete="off" required placeholder="Enter Experience" value="<%- typeof locals != 'undefined' ? locals.experience : '' %>" >
        </div>
     </div>
     <div class="mb-3 col-md-6">
      <div class="form-group">
         <label> Enter Amount</label>                                 
         <input type="text" id="amount" name="amount" class="form-control" autocomplete="off" required placeholder="Enter Your Amount" value="<%- typeof locals != 'undefined' ? locals.amount : '' %>" >
      </div>
   </div>
     <div class="mb-3 col-md-6">
      <div class="form-group">
         <label> Enter Vacancy</label>                                 
         <input type="number" min="1" id="vacancy" name="vacancy" class="form-control" autocomplete="off"  placeholder="Enter Vacancy" value="<%- typeof locals != 'undefined' ? locals.vacancy : '' %>" >
      </div>
   </div>
                       
     <div class="mb-3 col-md-12">
                      <div class="form-group">
                         <label> Enter Description</label>                                 
                         <textarea id="editor" name="description" rows="10" class="form-control" autocomplete="off"  placeholder="Enter Your Description"><%- typeof locals != 'undefined' ? locals.description : '' %></textarea>
                      </div>
                   </div>
                   
                   <div class="mb-3 col-md-12">
                    <div class="form-group">
                       <label> Upload Photo</label>                                 
                       <input type="file" id="photo" name="photo" class="form-control">
                       <br>
                       <img src="uploads/<%- typeof locals != 'undefined' ? locals.photo : '' %>"width="100px" height="100px"> 
                       <input type="hidden"  value="<%- typeof locals != 'undefined' ? locals.photo : '' %>" name="photo_file_name" >    
                    </div>
                 </div>

                      <div class="col-md-12 mt-2">
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                        <button type="reset" class="btn btn-outline-secondary ">Reset</button>
                      </div>
          
                  </form>
                </div>
                <!-- /Account -->
              </div>
              </div>
            </div>
          </div>
        </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include('includes/footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
     
</body>
  
                            
                           