  <head>
    <!-- HTML Meta Tags -->
<meta name="description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://upreak.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Upreak.com">
<meta property="og:description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">
<meta property="og:image" content="https://upreak.com/images/main_logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="https://upreak.com">
<meta property="twitter:url" content="https://upreak.com/">
<meta name="twitter:title" content="Upreak.com">
<meta name="twitter:description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">
<meta name="twitter:image" content="https://upreak.com/images/main_logo.png">
    <title>Upreak - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/images/main_logo.png" type="image/x-icon" height="100%" width="100%">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">





<style>




  #whyus{
    background-color: #f8fafc;
  }
  .whyus{
    max-width:70%;
   
  }
  footer{
    background-color: #f8fafc;
  }
  .navbar .nav-link{
    font-weight: 00 !important;
  }
  @media (min-width: 1200px){
  .whyus{
    background-color: #f8fafc;
    max-width:80%;
  }}
  @media (min-width: 992px){
  .whyus{
    background-color: #f8fafc;
    max-width:80%;
  }}
  @media (min-width: 768px){
  .whyus{
    max-width:80%;
    background-color: #f8fafc;
  }}
  @media (min-width: 576px){
  .whyus{
    max-width:80%;
    background-color: #f8fafc;
  }}

  @media (max-width: 576px) { /* Adjust the breakpoint as needed */
    .line_img {
      width: 100%;
    }
  }
  .maintext {
    font-size: 25px; /* Default padding */
}
.maintext2{
  font-size: 75px;
  }
  .mainp{
    text-shadow: 1px 1px 2px #000, 0 0 1em blue, 0 0 0.2em blue;
  }

/* Responsive padding adjustments */
@media screen and (max-width: 768px) {
  .maintext {
    font-size: 15px; /* Adjust padding for smaller screens */
  }
  .maintext2{
    font-size: 50px;
  }
  .mainp{
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .maintext {
    font-size: 15px; /* Further adjust padding for even smaller screens */
  }
  .maintext2{
    font-size: 25px;
  }
  .mainp{
    font-size: 15px;
  }
}
.start{

}
.explore{

}
.start::hover{

}
.explore::hover{
  
}
</style>
  </head>

  <body>
    <%- include('includes/main_nav.ejs') %>

    <!-- END nav -->

    <!-- <div class="hero-wrap img" style="background-image: url(images/bg_1.jpg);">
      <div class=""></div>
      <div class="container">
        <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-10 d-flex align-items-center ftco-animate">
            <div class="text text-center pt-5 mt-md-5">
              <p class="mb-4 font-weight-bold maintext"  style="">Find Job, Employment, and Career Opportunities</p>
            
              <div class="container">
                <h1 class="text-center text-primary font-weight-bold aintext2" style="">Are You Looking for a Job?</h1>
                <h5 class="text-center text-white font-weight-bold mainp" style="">
                  Are you seeking a new and exciting career opportunity? Are you ready to join a dynamic and innovative
                  company that values your skills and contributions? If so, then we have an incredible offer just for
                  you! Take a moment to answer a few questions and either upload your resume or refer a friend or job
                  seeker. By doing so, you'll open doors to exciting job prospects and receive rewards along the way.
                  Don't let this chance slip away to kick-start your dream career with Upreak. Let's embark on this
                  journey together!
                </h5>
                <div class="text-center mt-3">
                  <a href="/chatUpreak"><button class="btn btn-primary btn-lg">Get started now</button></a>

                </div>
              </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container p-5 custom-container ">
      <h1 class="custom-heading animate mb-5">Turning dreams into careers, now possible.</h1>
      <!-- <p class="text-center custom-para animate">We are a recruitment company that connects talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.</p> -->
      <div class="d-flex justify-content-center align-items-center text-center">
        <a href="/jobs" class="btn-lg btn-dark text-white explore-btn mr-1 explore ftco-animate">Explore More</a>
        <a href="/signup" class="btn-lg btn-outline-dark  border explore-btn ml-1 start ftco-animate">Start Now</a>
        
      </div>
      
    </div>
    <div class="container" id="featured-3">
      <h1 class="font-weight-bold pb-2 text-center text-black">Why Choose Upreak ?</h1>
      <p class="border-bottom pb-4 text-center text-justify w-70">We connect talented individuals
        with top companies and organizations, guiding them towards their dream jobs
        and helping them achieve their career aspirations.</p>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <div class="feature-icon bg-gradient text-center" style="border-radius: 12px;">
              <img src="images/why.gif" class="img-fluid" alt="Resume Icon">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="feature">
            <!-- <h4 class="font-weight-bold text-uppercase mt-5">Streamlined Resume Builder: Fast-Track Your Career with AI-Powered Expertise</h4> -->
            <div class="list-group mt-3">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h5 class="mb-0">Vast Job Opportunities</h5>
                    <!-- <p class="mb-0 opacity-75 text-justify">Dive into a sea of opportunities with Upreak! Our tailored job matches align perfectly with your skills and preferences, opening doors to your ideal career. Experience our bespoke placement services that seamlessly connect you with top-tier employers, ensuring a smooth journey to your dream job.</p> -->
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h5 class="mb-0">Personalized Placement</h5>
                    <!-- <p class="mb-0 opacity-75 text-justify">Dive into a sea of opportunities with Upreak! Our tailored job matches align perfectly with your skills and preferences, opening doors to your ideal career. Experience our bespoke placement services that seamlessly connect you with top-tier employers, ensuring a smooth journey to your dream job.</p> -->
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h5 class="mb-0">Comprehensive Coverage & Unmatched Success</h5>
                    <!-- <p class="mb-0 opacity-75 text-justify">Upreak spans the spectrum, from urban giants to rural gems, covering all sectors with a robust corporate network. Our commitment to your success is reflected in our impressive placement rate, making us your trusted partner in every step of your career journey.Choose Upreak for a recruitment experience that's as efficient as it is rewarding.</p> -->
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h5 class="mb-0">Robust Network</h5>
                    <!-- <p class="mb-0 opacity-75 text-justify">Join Upreak and tap into a powerful network of industry leaders and HR professionals. Forge lasting connections that propel your career forward. Benefit from our expert career guidance, arming you with insights and strategies to master the job market and reach your highest professional aspirations.</p> -->
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h5 class="mb-0"> Career Expertise  </h5>
                    <!-- <p class="mb-0 opacity-75 text-justify">Dive into a sea of opportunities with Upreak! Our tailored job matches align perfectly with your skills and preferences, opening doors to your ideal career. Experience our bespoke placement services that seamlessly connect you with top-tier employers, ensuring a smooth journey to your dream job.</p> -->
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
                <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
                <div class="d-flex flex-column justify-content-between">
                  <div>
                    <h5 class="mb-0">Affordable, Innovative, and Effective Services</h5>
                    <!-- <p class="mb-0 opacity-75 text-justify">At Upreak, we redefine recruitment and placement. Our services are not only affordable but also innovatively designed to make your job search simple, effective, and transformative. Choose Upreak for a recruitment experience that's as efficient as it is rewarding.</p> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
   

   <section class="d-flex justify-content-center">
    <div class="container px-4 py-5">
      <h1 class="font-weight-bold pb-2 text-center text-black">How does Upreak work?</h1>
      <p class="border-bottom pb-4 text-center container">Our focus is to find the right opportunity for job seekers
        and perfect talent for our clients.</p>
      
      <div class="row pt-4 pb-4">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h1 class="mt-5 font-weight-bold">Submit Your Talent Profile</h1>
          <p class="pb-4 text-justify">
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              Begin your journey by filling in your Details.
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              This helps us understand your unique skills, experiences and carrier aspirations.
            </a>
          </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="images/work/img_5.jpg" class="img-fluid" alt="How does Upreak work?" width="400px">
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center pt-4 pb-4">
          <img class="line_img" src="images/line_left.png" alt="Divider">
        </div>
        
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="images/work/img_2.jpg" class="img-fluid" alt="How does Upreak work?" width="400px">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h1 class="mt-5 font-weight-bold">Skill-Based Matching</h1>
          <p class="pb-4 text-justify">
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              We match your talents and interests to our client’s requirements.
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              This method guarantees that the opportunities we offer align with your career objectives

            </a>  
          </p>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center pt-4 pb-4">
          <img  class="line_img"src="images/line_right.png" alt="Divider">
        </div>
        
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h1 class="mt-5 font-weight-bold">Guided Recruitment</h1>
          <p class="pb-4 text-justify">
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              The recruitment process is driven by our dedicated team of recruiters
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              They help job seekers schedule interviews and make sure they have everything they need for a smooth experience
            </a>
          </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="images/work/img_4.jpg" class="img-fluid" alt="How does Upreak work?" width="400px">
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center pt-4 pb-4">
          <img class="line_img" src="images/line_left.png" alt="Divider">
        </div>
        
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="images/work/img_1.jpg" class="img-fluid" alt="How does Upreak work?" width="400px">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h1 class="mt-5 font-weight-bold">Win-Win Outcome</h1>
          <p class="pb-4 text-justify">
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              A Client finds a right talent to his business
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 border-0" aria-current="true">
              <img src="../images/point.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0 mr-1">
              Job seeker finds a right opportunity to level-up his career
            </a>  
          </p>
        </div>
      </div>
    </div>
  </section>
      
   
    <div class="" style="background-color: #f8fafc;">
      <div class=" ftco-section container "  id="testimonial">
        <div class="row">
          <div class="col-sm-12">
            <h2>What <b>our customers</b> are saying</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <% for (let i = 0; i < testimonials.length; i++) { %>
                  <li data-target="#myCarousel" data-slide-to="<%=i%>" class="<% if(i === 0){%>active<%}%>"></li>
                  <% } %>
                <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li> -->
              </ol>   
              <!-- Wrapper for carousel items -->
              <div class="carousel-inner">
               
                <% for (let i = 0; i < testimonials.length; i++) { %>
                <div class="carousel-item <% if(i === 0){%>active<%}%>">
                  <div class="row justify-content-center">
                    <div class="col-sm-6">
                      <div class="media">
                        <img src="/uploads/<%= testimonials[i].photo %>" class="mr-3" alt="">
                        <div class="media-body">
                          <div class="testimonial">
                            <p class="text-dark" style="color: #000;"><%- testimonials[i].description %></p>
                            <p class="overview text-black"><b class="text-black" style="color:#000;font-weight: 900;"><%= testimonials[i].author %></b>,⭐⭐⭐⭐⭐</p>
                          </div>
                        </div>
                      </div>
                    </div>
                   
                  </div>			
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div style=" position: relative;margin-top: 50px;">
  <!-- Curly SVG -->
  <section class="container justify-content-center pb-5 pt-5" style="text-align: center; position: relative; z-index: 1;">
    <h1 class="font-weight-bold pb-2 text-center" style="font-weight: bold; padding-bottom: 2px;">Hey, don't wait to gain your dream job</h1>
    <p class="pb-4 text-center text-capitalize" style="text-transform: capitalize;">If you are ready to fly and ready to catch your dream job, contact us now</p>
    <p><a href="/signup" class="btn-lg btn-black btn ftco-animate" style="display: inline-block; font-weight: bold; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; user-select: none; border: 1px solid transparent; padding: 0.75rem 1.5rem; font-size: 1.5rem; line-height: 1.5; border-radius: 0.25rem; background-color: black; color: #fff; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" value="">Sign Up Now 👍</a></p>
  </section>
</div>


    <%- include('includes/main_footer.ejs') %>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
          stroke="#F96D00" /></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false">
    </script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

  </body>