<%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
            <body>
            <div class="container-scroller">
              <!-- partial:partials/_navbar.html -->
              <%- include('includes/navbar.ejs') %>
              <!-- partial -->
              <div class="container-fluid page-body-wrapper">
                <!-- partial -->
                <!-- partial:partials/_sidebar.html -->
                <%- include('includes/sidebar.ejs') %>
                <!-- partial -->
                <div class="main-panel"> <div class="content-wrapper">
                  <div class="row">
                    <div class="col-md-12 grid-margin">
                      <div class="row">
                        <div class="col-6 col-xl-6 mb-4 mb-xl-0">
                          <h3 class="font-weight-bold">Candidates Details</h3>
                        </div>
                        <div class="col-6 col-xl-6 mb-4 mb-xl-0 form-group form-group-default">
                          <div style="float: right;">
                            <label for="bulk_csv">Upload CSV File</label><br>
                            <input type="file" name="bulk_csv" id="bulk_csv" required accept=".csv">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 ">
                        <div class="card shadow mb-4">
                          <div class="card-header">
                            <div class="row ">
                              <h5 class="col pt-2">List Details</h5>
                              <a href="/export/candidate_details" class="btn btn-primary col-md-offset-6 mx-1" style="float: right;">Export</a>
                              <a href="/add_candidate_details" class="btn btn-primary col-md-offset-6 mx-1" style="float: right;" >Add</a>
                          </div>
                          </div>
                        <div class="card-body">
                                <table  class="table table-responsive  table-striped display expandable-table" width="100%" cellspacing="0">
                                    <thead class="table-light">
                                        <tr class=" text-center">
                        
                                            <th>SNo.</th>
                                            <th>Application ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>DOB</th>
                                            <th>Skills</th>
                                            <th>Highest Qualification</th>
                                            <th>Experience</th>
                                            <th>Location</th>
                                            <th>Preferred Job Location</th>
                                            <th>Preferred CTC</th>
                                            <th>Notice Period</th>
                                            <th>Resume</th>                                         
                                            <% if(srole == 'Master' || srole == "Manager") { %>
                                              <th>Actions</th>
                                            <%}%>
                                        </tr>
                                    </thead>

                                    <tbody>
                                      <% for (var i = 0;i < data.length ; i++) {%>
                                            <tr>
                                                <td><%= i+1 %></td>
                                                <td><%= data[i].application_id %></td>
                                                <td><%= data[i].name %></td>
                                                <td><%= data[i].emailid %></td>
                                                <td><%= data[i].phonenumber %></td>                                                
                                                <td><%= data[i].dob %></td>
                                              <td>
                                                <% if (data[i].skill1) { %><%= data[i].skill1 %><% } %>
                                                <% if (data[i].skill2) { %>,<%= data[i].skill2 %><% } %>
                                                <% if (data[i].skill3) { %>,<%= data[i].skill3 %><% } %>
                                                <% if (data[i].skill4) { %>,<%= data[i].skill4 %><% } %>
                                                <% if (data[i].skill5) { %>,<%= data[i].skill5 %><% } %>
                                              </td>
                                              <td>
                                                <% if (data[i].pgqualification) { %><%= data[i].pgqualification %><% }
                                                else if (data[i].ugqualification) { %><%= data[i].ugqualification %><% }
                                                else if (data[i].qualification_diploma) { %><%= data[i].qualification_diploma %><% }
                                                else if (data[i].qualification_12) { %><%= data[i].qualification_12 %><% }
                                                else if (data[i].qualification_10) { %><%= data[i].qualification_10 %><% } %>
                                              </td>
                                              <td><%= data[i].experience %></td>
                                              <td><%= data[i].city %></td>
                                              <td><%= data[i].job_location %></td>
                                              <td><%= data[i].preferred_ctc %></td>
                                              <td><%= data[i].job_jdate %></td>
                                                <td>
                                                <% if( data[i].resume_file && data[i].resume_file.publicUrls ) {%>
                                                    <a class="btn m-1 btn-outline-info" href="<%= data[i].resume_file.publicUrls %>">Download</a>
                                            		<% }%>
                                            </td>
                                                <% if(srole == 'Master' || srole == "Manager") { %>
                                                  <td>
                                                    <a class="btn m-1 btn-outline-danger" href="/view_candidate_details?id=<%= data[i].id %>"  type="" ><i class="bi bi-eye"></i></a>
                                                    <a class="btn m-1 btn-outline-danger" href="/edit_candidate_details?id=<%= data[i].id %>"  type="" ><i class="bi bi-pencil-square"></i></a> 
                                                    <% if(srole == "Master") { %>
                                                      <a class="btn m-1 btn-outline-danger" href="/delete_candidate_details/<%= data[i].id %>"  type=""><i class="bi bi-trash3-fill"></i></a>
                                                   <% } %>   
                                            </td>
                                                <% } %>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                    </tfoot>
                                </table>
                            
                        </div>
                  
                
                        </div>
                      </div>
                    </div>
                </div>
         
      
                  <!-- content-wrapper ends -->
                  <!-- partial:partials/_footer.html -->
                  <%- include('includes/footer.ejs') %>
                  <!-- partial -->
                </div>
                <!-- main-panel ends -->
              </div>
              <!-- page-body-wrapper ends -->
            </div>
<!-- added beacause it is not working properly -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

<script>
  $(document).ready(function() {
      $('table').DataTable({
          dom: 'Bfrtip',
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ]
      });
  });
</script>
</body>

<script>
  $('#bulk_csv').change(function () {
    var formdata = new FormData();
    var file;
    if ($(this).prop('files').length > 0) {
      file = $(this).prop('files')[0];
      var fileName = file.name;
      if (fileName.toLowerCase().endsWith('.csv')) {
        formdata.append("bulk_csv", file);
        jQuery.ajax({
          url: '/uploadCSV/candidate_details',
          type: "POST",
          data: formdata,
          processData: false,
          contentType: false,
          success: function (result) {
            if(result.trim() == 'OK') {
              alert('File Successfully uploaded');
              window.location.reload();
            }
          }
        });
      } else {
        alert('Please upload a csv file only.');
        $(this).val('');
      }
    }
  })
</script>
