
<html lang="en-us">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	
  	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" height="100%" width="100%">

   <title><%= locals.heading %> - Upreak a leading recruitment company</title>
   <meta name="description" content="<%= locals.metadescription %>">
 
   <!-- Facebook Meta Tags -->
   <meta property="og:url" content="/preview_blogs?id=<%= locals.id %>">
   <meta property="og:type" content="jobs">
   <meta property="og:title" content="<%= locals.heading %>">
   <meta property="og:description" content="<%= locals.metadescription %>">
   <meta  name="image" property="og:image" content="/uploads/<%= locals.photo %>">
 
   <!-- Twitter Meta Tags -->
   <meta name="twitter:card" content="">
   <meta property="twitter:domain" content="upreak.com">
   <meta property="twitter:url" content="/preview_blogs/<%= locals.id %>">
   <meta name="twitter:title" content="<%= locals.heading %>">
   <meta name="twitter:description" content="<%= locals.metadescription %>">
   <meta name="twitter:image" content="/uploads/<%= locals.photo %>">        
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
<!-- HTML Meta Tags -->
<meta name="description" content="<%= locals.metadescription %>">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="/">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= locals.heading %>">
<meta property="og:description" content="<%= locals.metadescription %>">
<meta property="og:image" content="/images/main_logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="upreak.com">
<meta property="twitter:url" content="/">
<meta name="twitter:title" content="<%= locals.heading %>">
<meta name="twitter:description" content="<%= locals.metadescription %>">
<meta name="twitter:image" content="/uploads/<%= locals.photo %>">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<style>
  .nav,.navbar{
    
    background-color: white !important;
  }
.nav-link,.nav-item{
  color: black !important;
}
.section {
      padding: 5px 0; /* Adjust vertical padding for better spacing */
    }
    
    .cards {
      border: none;
          }
    
    .card-img-top {
      width: 100%;
      border-radius: 12px; /* Rounded corners for the image */
    }
    
    .card-title {
      font-size: 2.5rem;
      font-weight: bold;
    }
    
    .card-text {
      color: #666;
      line-height: 1.6;
    }
    
    .text-end {
      text-align: end;
    }
    
    .post-slider {
      /* Styles for post slider (if applicable) */
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
      .navbar-toggler{
        color: black !important;
      }
      .card-title {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
      }
    }
</style>
</head>

<body class="">

    <%- include('includes/main_nav.ejs') %>
    <!-- END nav -->
    
    

    
    

    <section class="section text-dark mt-5">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-10 cards">
            <div class=" mb-4">
              <img src="/uploads/<%= locals.photo %>" class="card-img-top rounded" alt="Blog Image">
              <div class="card-body">
                <h1 class="card-title mb-4"><%= locals.heading %></h1>
                <p class="card-text text-end mb-3 fs-5">
                  Category: <span class="fw-bold">Jobs</span> |
                  Created By: <span class="fw-bold">Upreak</span> |
                  Created At: <span class="fw-bold"><%= locals.createdAt %></span>
                </p>
                <div class="post-slider text-center">
                  <!-- Slideshow or additional images can be added here -->
                </div>
                <div class="mt-4">
                  <p class="card-text fs-4"><%- locals.summary %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<%- include('includes/main_footer.ejs') %>
    
  

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src=" /js/jquery.min.js"></script>
<script src=" /js/jquery-migrate-3.0.1.min.js"></script>
<script src=" /js/popper.min.js"></script>
<script src=" /js/bootstrap.min.js"></script>
<script src=" /js/jquery.easing.1.3.js"></script>
<script src=" /js/jquery.waypoints.min.js"></script>
<script src=" /js/jquery.stellar.min.js"></script>
<script src=" /js/owl.carousel.min.js"></script>
<script src=" /js/jquery.magnific-popup.min.js"></script>
<script src=" /js/aos.js"></script>
<script src=" /js/jquery.animateNumber.min.js"></script>
<script src=" /js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src=" /js/google-map.js"></script>
<script src=" /js/main.js"></script>
  
  <!-- Section: Design Block -->

   <!-- JS Plugins -->
   <!-- <script src="plugins/jQuery/jquery.min.js"></script> -->
   <!-- <script src="plugins/bootstrap/bootstrap.min.js" async></script>
   <script src="plugins/slick/slick.min.js"></script> -->

   <!-- Main Script -->
   <!-- <script src="js/script.js"></script> -->
</body>
</html>