<%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

        <body>
            <div class="container-scroller">
              <%- include('includes/navbar.ejs') %>
              <div class="container-fluid page-body-wrapper">
                <%- include('includes/sidebar.ejs') %>
                  <div class="main-panel"> <div class="content-wrapper">
                  <div class="row">
                    <div class="col-md-12 grid-margin">
                      <div class="row">
                        <div class="col-lg-7 col-xl-8 mb-4 mb-xl-0">
                          <h3 class="font-weight-bold">Built Resume</h3>
                          <h6 class="font-weight-normal mb-0">Unlock Your Potential with Upreak and Elevating Recruitment through Dashboards!</h6><br>
                        </div>
                        <div class="col-lg-4" >
                        <a href="/view_details" class="btn btn-primary" style="float:right">View Data</a>
                       </div>
                       
                      </div>
                    </div>
                  </div>
                  <!-- <h3 class="font-weight-bold">Resume Template</h3><br> -->
                  <div class="container">  
                  <div class="row justify-content-center d-flex">
                      <% for (var i = 0;i < locals.length ; i++) { %>
                        <div class="col-md-4 card p-3 m-1 shadow" style="border:0.5px solid #000">
                            <img class="shadow" src="/uploads/<%= locals[i].photo %>">
                            <h2 class="mt-2"><%= locals[i].resume_title %></h2>
                            <p style="text-align:justify">Category:<span class="text-uppercase font-weight-bold"><%= locals[i].resume_category %></span></p>
                            <a class="btn btn-success d-block rounded" href="/resume<%= locals[i].id %>"onclick="checkMobile(event)">Generate Now</a>
                        </div>
                        <% } %>
                  </div>
                    </div>
                </div>
                
                  <script>
                    function checkMobile() {
                        if (isMobileDevice()) {
                            // Trigger your modal or alert here
                            event.preventDefault();
                            alert("You can only download resume via desktop.");
                        }
                    }

                    function isMobileDevice() {
                      return window.innerWidth <= 1024;
                    }
                  </script>
                  <%- include('includes/footer.ejs') %>
                </div>
              </div>
            </div>
</body>