<%- include('includes/head.ejs') %>
<body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('includes/navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('includes/sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel"> 
          <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Token</h3>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <div class="card shadow mb-4">
                <div class="card-header"> <h5>Update Token</h5>
                </div> 
                <div class="card-body">
                  <form id="updateTokenForm">
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <div class="form-group">
                                <label for="id" class="form-label">Id</label>                                 
                               <input type="text" id="id" name="id" value="<%- typeof tokenData != 'undefined' ? tokenData.id : '' %>" class="form-control" autocomplete="off" placeholder="Id" readonly>
                            </div>
                         </div>
                        <div class="mb-3 col-md-12">
                            <div class="form-group">
                                <label for="token" class="form-label">Meeting Token</label>    
                                <textarea id="token" name="token" class="form-control" rows="25" autocomplete="off" placeholder="Enter Your Token"><%- typeof tokenData != 'undefined' ? tokenData.token : '' %></textarea>

                               <!-- <input type="text" id="token" name="token" value="<%- typeof tokenData != 'undefined' ? tokenData.token : '' %>" class="form-control" autocomplete="off" placeholder="Enter Your Token"> -->
                            </div>
                        </div>
                    <div class="col-md-12 mt-2">
                      <button type="submit" class="btn btn-primary me-2">Save</button>
                      <button type="reset" class="btn btn-outline-secondary ">Reset</button>
                    </div>
                  </form>
                </div>
                <!-- /Account -->
              </div>
              </div>
            </div>
          </div>
        </div>

         <!-- Modal -->
         <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to proceed ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-success" href="">Yes</a>
                </div>
              </div>
            </div>
          </div>
          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include('includes/footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    
<!-- Script for handling AJAX submission and modal confirmation -->
<script>
    $(document).ready(function() {
        // Handle form submission through AJAX
        $("#updateTokenForm").submit(function(event) {
            event.preventDefault(); // Prevent default form submission

            // Show confirmation modal
            $("#confirmationModal").modal('show');

            // Handle confirmation modal buttons
            $("#confirmationModal .btn-success").click(function() {
                // Close the modal
                $("#confirmationModal").modal('hide');

                // Perform AJAX request
                $.ajax({
                    type: "POST",
                    url: "/updateTokenData",
                    data: $("#updateTokenForm").serialize(),
                    success: function(response) {
                        // Handle success, update UI or show success message
                        location.reload();
                    },
                    error: function(error) {
                        // Handle error, show error message or log
                        console.error(error);
                    }
                });
            });

            // Reset the modal button click event on modal close
            $("#confirmationModal").on('hidden.bs.modal', function() {
                $("#confirmationModal .btn-success").off('click');
            });
        });
    });
</script>

</body>
  
                            
                           