<title>Interview Assessment Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 20px;
  }

  .container {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
      text-align: center;
      margin-bottom: 30px;
  }

  h3 {
      margin-top: 20px;
      margin-bottom: 10px;
  }

  .form-group {
      margin-bottom: 25px;
  }

  label {
      font-weight: bold;
  }

  select,
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  button {
      padding: 10px 20px;
      background-color: #007bff;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
  }

  button:hover {
      background-color: #0056b3;
  }
  
</style>
<%- include('includes/head.ejs') %>
 <body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('includes/navbar.ejs') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <%- include('includes/sidebar.ejs') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="container">
          <h1 class="text-center">Interview Assessment Report</h1>
          <form id="formAccountSettings" method="POST" action="/panel/save_report">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <input type="hidden" class="form-control" id="data_id" name="data_id" value="<%- typeof meeting_details[0] != 'undefined' ? !!meeting_details[0].id ? meeting_details[0].id : '': '' %>">
            <input type="hidden" class="form-control" id="rpt_id" name="rpt_id" value="<%- typeof report_data[0] != 'undefined' ? !!report_data[0].id ? report_data[0].id : '' : '' %>">
              <!-- Interviewer Info -->
              <h3>Interviewer Info</h3>
              <div class="form-group">
                  <label for="interviewerName">Interviewer Name / ID</label>
                  <input type="text" class="form-control" id="interviewerName" name="interviewerName" placeholder="Enter interviewer name/ID" value="<%- typeof meeting_details[0] != 'undefined' ? meeting_details[0].alloted_HR : '' %>" readonly>
              </div>
              <!-- Candidate Info -->
              <h3>Candidate Info</h3>
              <div class="form-group">
                <label for="candidateName">ID of the Candidate</label>
                <input type="text" class="form-control" id="candidateId" name="candidateId" placeholder="Enter candidate id" value="<%- typeof meeting_details[0] != 'undefined' ? meeting_details[0].application_id : '' %>" readonly>
            </div>
              <div class="form-group">
                  <label for="candidateName">Name of the Candidate</label>
                  <input type="text" class="form-control" id="candidateName"  name="candidateName"placeholder="Enter candidate name" value="<%- typeof meeting_details[0] != 'undefined' ? meeting_details[0].username : '' %>" readonly>
              </div>
            <div class="form-group">
                    <label for="candidateEmail">Email ID</label>
                    <input type="email" class="form-control" id="candidateEmail" name="candidateEmail" placeholder="Enter candidate email" value="<%- typeof meeting_details[0] != 'undefined' ? meeting_details[0].email : '' %>" readonly>
                </div>
                <div class="form-group">
                    <label for="candidatePhone">Phone number</label>
                    <input type="tel" class="form-control" id="candidatePhone" name="candidatePhone" placeholder="Enter candidate phone number" value="<%- typeof meeting_details[0] != 'undefined' ? meeting_details[0].phone_number : '' %>" readonly>
                </div>
                <div class="form-group">
                    <label for="candidateCollege">College name</label>
                    <input type="text" class="form-control" id="candidateCollege" name="candidateCollege" placeholder="Enter candidate college name" value="<%- typeof report_data[0] != 'undefined' ? report_data[0].collegename : '' %>">
                </div>
                <!-- Interview Preparedness -->
                <h3>Interview Preparedness</h3>
                <div class="form-group">
                  <h5>How well was the candidate prepared for the interview in terms of dress, greeting, and overall presentation?</h5>
                    <label for="preparednessRating">Please rate the candidate's preparedness for the interview.</label>
                    <select class="form-control" id="preparednessRating" name="preparednessRating" required>
                        <option value="-1" > Choose Option </option>
                        <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].interviewpreparedness) ?  report_data[0].interviewpreparedness == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Inappropriately dressed, no greeting.</option>
                        <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].interviewpreparedness) ?  report_data[0].interviewpreparedness == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Casually dressed, minimal greeting.</option>
                        <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].interviewpreparedness) ?  report_data[0].interviewpreparedness == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Neatly dressed, polite greeting.</option>
                        <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].interviewpreparedness) ?  report_data[0].interviewpreparedness == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
                        <option value="5" <%- typeof report_data[0] != 'undefined' ? (!!report_data[0].interviewpreparedness) ?  report_data[0].interviewpreparedness == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
                    </select>
                </div>
              <h3>Confidence & Nervousness</h3>
      <div class="form-group">
          <h5>How would you rate the candidate's confidence level during the interview?</h5>
          <label for="confidenceRating">Please rate the candidate's confidence and composure.</label>
          <select class="form-control" id="confidenceRating" name="confidenceRating" required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].confidencenervousness) ?  report_data[0].confidencenervousness == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Very nervous, unable to answer questions.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].confidencenervousness) ?  report_data[0].confidencenervousness == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Somewhat nervous, hesitant in answering.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].confidencenervousness) ?  report_data[0].confidencenervousness == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Neutral, answered questions with some confidence.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].confidencenervousness) ?  report_data[0].confidencenervousness == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].confidencenervousness) ?  report_data[0].confidencenervousness == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
  
      <!-- A Non-Verbal Communication Skills -->
      <h3>A Non-Verbal Communication Skills</h3>
      <div class="form-group">
          <h5>In the languages they claim to know, how proficiently can the candidate convey and interpret emotions, intentions, and information without using words?</h5>
          <label for="nonverbalRating">Evaluate the candidate's mastery in utilizing and understanding non-verbal cues.</label>
          <select class="form-control" id="nonverbalRating" name="nonverbalRating" required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].nonverbalcommunication) ?  report_data[0].nonverbalcommunication == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Lacks proper appearance, inconsistent gestures, and unstable voice tone.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].nonverbalcommunication) ?  report_data[0].nonverbalcommunication == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Basic appearance, simple gestures, and neutral voice tone.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].nonverbalcommunication) ?  report_data[0].nonverbalcommunication == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Professional look, clear gestures, and fitting voice tone.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].nonverbalcommunication) ?  report_data[0].nonverbalcommunication == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].nonverbalcommunication) ?  report_data[0].nonverbalcommunication == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
  
      <!-- Verbal Communication Skills -->
      <h3>Verbal Communication Skills</h3>
      <div class="form-group">
          <h5>How effectively can the candidate convey their thoughts, ideas, and information through spoken language in the languages they claim to know?</h5>
          <label for="verbalRating">Please rate the candidate's articulation, word choice, and listening skills in the mentioned languages.</label>
          <select class="form-control" id="verbalRating" name="verbalRating" required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].verbalcommunication) ?  report_data[0].verbalcommunication == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Poor Word Choice, Communication Style, Listening Skills.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].verbalcommunication) ?  report_data[0].verbalcommunication == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Basic Word Choice, Communication Style, Listening Skills.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].verbalcommunication) ?  report_data[0].verbalcommunication == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Good Word Choice, Communication Style, Listening Skills.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].verbalcommunication) ?  report_data[0].verbalcommunication == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].verbalcommunication) ?  report_data[0].verbalcommunication == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
            <!-- Teamwork -->
      <h3>Teamwork</h3>
      <div class="form-group">
          <h5>How well does the candidate work in a team based on their responses and past experiences?</h5>
          <label for="teamworkRating">Please rate the candidate's teamwork skills.</label>
          <select class="form-control" id="teamworkRating" name="teamworkRating" required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].teamwork) ?  report_data[0].teamwork == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Unwilling to work in a team.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].teamwork) ?  report_data[0].teamwork == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Prefers working alone but can work in a team if necessary.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].teamwork) ?  report_data[0].teamwork == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Works well in a team when required.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].teamwork) ?  report_data[0].teamwork == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].teamwork) ?  report_data[0].teamwork == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
  
      <!-- Computer and Software Proficiency -->
      <h3>Computer and Software Proficiency</h3>
      <div class="form-group">
          <h5>How adept is the candidate in using a computer and basic software tools required for the job?</h5>
          <label for="computerRating">Please evaluate the candidate's computer and software skills.</label>
          <select class="form-control" id="computerRating" name="computerRating"required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].computerproficiency) ?  report_data[0].computerproficiency == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Unfamiliar with basic computer operations and software.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].computerproficiency) ?  report_data[0].computerproficiency == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Basic understanding but struggles with regular tasks.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].computerproficiency) ?  report_data[0].computerproficiency == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Comfortable with most computer operations and software tools.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].computerproficiency) ?  report_data[0].computerproficiency == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].computerproficiency) ?  report_data[0].computerproficiency == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
  
      <!-- Enthusiasm and Motivation -->
      <h3>Enthusiasm and Motivation</h3>
      <div class="form-group">
          <h5>How enthusiastic and motivated does the candidate seem for the role?</h5>
          <label for="enthusiasmRating">Please rate the candidate's enthusiasm and motivation.</label>
          <select class="form-control" id="enthusiasmRating" name="enthusiasmRating"required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].enthusiasmmotivation) ?  report_data[0].enthusiasmmotivation == '1' ? 'selected' : '' :  '' : '' %>>1 Star: No enthusiasm or motivation observed.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].enthusiasmmotivation) ?  report_data[0].enthusiasmmotivation == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Minimal enthusiasm, low motivation.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].enthusiasmmotivation) ?  report_data[0].enthusiasmmotivation == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Neutral enthusiasm and motivation.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].enthusiasmmotivation) ?  report_data[0].enthusiasmmotivation == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].enthusiasmmotivation) ?  report_data[0].enthusiasmmotivation == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
            <!-- Time Management -->
      <h3>Time Management</h3>
      <div class="form-group">
          <h5>How well does the candidate manage their time based on their responses?</h5>
          <label for="timeManagementRating">Please rate the candidate's time management skills.</label>
          <select class="form-control" id="timeManagementRating" name="timeManagementRating" required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].timemanagement) ?  report_data[0].timemanagement == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Poor time management, struggles with deadlines.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].timemanagement) ?  report_data[0].timemanagement == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Has difficulty prioritizing tasks.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].timemanagement) ?  report_data[0].timemanagement == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Manages time adequately, meets deadlines.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].timemanagement) ?  report_data[0].timemanagement == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].timemanagement) ?  report_data[0].timemanagement == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
  
      <!-- Work-life Balance -->
      <h3>Work-life Balance</h3>
      <div class="form-group">
          <h5>How well does the candidate able to balance work life and pressure based on their responses and past experiences?</h5>
          <label for="workLifeRating">Please rate the candidate's ability to handle workload and pressure.</label>
          <select class="form-control" id="workLifeRating" name="workLifeRating"required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].worklifebalance) ?  report_data[0].worklifebalance == '1' ? 'selected' : '' :  '' : '' %>>1 Star: Unable to handle workload or pressure.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].worklifebalance) ?  report_data[0].worklifebalance == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Struggles with workload and pressure.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].worklifebalance) ?  report_data[0].worklifebalance == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Manages workload and pressure adequately.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].worklifebalance) ?  report_data[0].worklifebalance == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].worklifebalance) ?  report_data[0].worklifebalance == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
  
      <!-- Achievements and Accomplishments -->
      <h3>Achievements and Accomplishments</h3>
      <div class="form-group">
          <h5>What notable achievements or accomplishments has the candidate had in their previous roles? </h5>
          <label for="achievementsRating">Please rate the candidate's achievements and accomplishments.</label>
          <select class="form-control" id="achievementsRating" name="achievementsRating" required>
            <option value="-1" > Choose Option </option>
              <option value="1" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].achievementsaccomplishments) ?  report_data[0].achievementsaccomplishments == '1' ? 'selected' : '' :  '' : '' %>>1 Star: No notable achievements or accomplishments.</option>
              <option value="2" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].achievementsaccomplishments) ?  report_data[0].achievementsaccomplishments == '2' ? 'selected' : '' :  '' : '' %>>2 Stars: Few minor achievements or accomplishments.</option>
              <option value="3" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].achievementsaccomplishments) ?  report_data[0].achievementsaccomplishments == '3' ? 'selected' : '' :  '' : '' %>>3 Stars: Some notable achievements or accomplishments.</option>
              <option value="4" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].achievementsaccomplishments) ?  report_data[0].achievementsaccomplishments == '4' ? 'selected' : '' :  '' : '' %>>4 Stars: Many notable achievements or accomplishments.</option>
              <option value="5" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].achievementsaccomplishments) ?  report_data[0].achievementsaccomplishments == '5' ? 'selected' : '' :  '' : '' %>>5 Stars: Exceptional achievements or accomplishments.</option>
          </select>
      </div>
  
      <!-- Fresher/Experienced -->
      <h3>Fresher/Experienced</h3>
      <div class="form-group">
          <label for="fresherExperienced">Select the candidate type</label>
          <select class="form-control" id="fresherExperienced" name="fresherExperienced" required>
            <option value="-1" > Choose Option </option>
              <option value="Fresher" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].fresherexperienced) ?  report_data[0].fresherexperienced == 'Fresher' ? 'selected' : '' :  '' : '' %>>Fresher</option>
              <option value="Experienced" <%= typeof report_data[0] != 'undefined' ? (!!report_data[0].fresherexperienced) ?  report_data[0].fresherexperienced == 'Experienced' ? 'selected' : '' :  '' : '' %>>Experienced</option>
          </select>
      </div>

      <h3>Comments</h3>
      <div class="form-group">
        <label for="Comments">Candidate Comments</label>
        <input type="text" class="form-control" id="comments" name="comments" placeholder="Enter candidate Comments" value="<%- typeof report_data[0] != 'undefined' ? report_data[0].comments : '' %>">
      </div>
            <!-- Submit Button -->
            <button id="submitReportBtn" type="submit" class="btn btn-primary"><%= typeof report_data[0] == 'undefined' ? "Save Report" : "Update Report" %></button>
            <!-- <br>
            <p id="report_note">Note :- Kindly wait for 24 hrs to Generate Report PDF.</p>
            
                <a id="generateReportBtn" class="btn m-1 btn-outline-danger" href="/panel/generate_report/<%= meeting_details[0].id %>" data-bs-toggle="tooltip" data-bs-placement="top" title="Generate PDF"><i class="bi bi-filetype-pdf"></i></a> -->
            </form>
            
             <script>
              document.addEventListener('DOMContentLoaded', function () {
                // Check if report_data and report_data[0].createdAt are defined
                var createdAt = "<%= typeof report_data[0] != 'undefined' ? !!report_data[0].createdAt ? report_data[0].createdAt : null : null %>";
            
                // Check if createdAt is not null before proceeding
                if (createdAt !== null) {
                  // Calculate the time difference in milliseconds
                  var currentTime = new Date().getTime();
                  var timeDifference = currentTime - new Date(createdAt).getTime();
            
                  // Convert time difference to hours
                  var hoursDifference = timeDifference / (1000 * 60 * 60);
          
                  //var generateReportBtn = document.getElementById('generateReportBtn')
                  var submitReportBtn = document.getElementById('submitReportBtn')
                  //var reportNote = document.getElementById('report_note');
                  // Enable and show generate report button if more than 24 hours have passed
                  if (hoursDifference > 24) {
                    
                   // if (generateReportBtn) {
                     // generateReportBtn.style.display = 'inline-block';
                    //  generateReportBtn.disabled = false;
                   // }
                    
                    if (submitReportBtn) {
                      submitReportBtn.style.display = 'none';
                      submitReportBtn.disabled = true;
                    }
                    
                 //   if (reportNote) {
                     // reportNote.style.display = 'none';
                   // }
                  } 
                  //else {
            //        // If less than 24 hours, hide and disable generate report button
              //      if (generateReportBtn) {
                //      generateReportBtn.style.display = 'none';
                  //    generateReportBtn.disabled = true;
                    //}
                //  }
                }
              });
            </script>
                                           
      </div>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <%- include('includes/footer.ejs') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  
</body>
