<!DOCTYPE html>
<html lang="en">

<head>
  <title>Upreak- Corporate Corner</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/images/main_logo.png" type="image/x-icon" height="100%" width="100%">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/css/jquery.timepicker.css">


  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    /* Float four columns side by side */
    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
      margin: 0 -5px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive columns */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }

    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      /* text-align: center; */
      /* background-color: #f1f1f1; */
    }
  </style>
  <style>
    .card {
      border-radius: 8px;
      height: auto;
      width: 100%
    }

    .card.border {
      border: 1px solid #e8ebf2
    }

    .image,
    .image-container {
      width: 100%
    }

    .image {
      object-fit: cover
    }

    .image.image_full_width_sm {
      border-radius: 7px 7px 0 0;
      height: 160px
    }

    .image.image_full_width_lg {
      border-radius: 7px 7px 0 0;
      height: 280px
    }

    .image.image_md {
      height: 112px;
      margin-top: 32px;
      width: 112px
    }

    .image.image_sm {
      height: 64px;
      margin-top: 24px;
      width: 64px
    }

    .image.image_xs {
      margin-top: 34px
    }

    .image.image_left_text_right,
    .image.image_xs {
      height: 24px;
      width: 24px
    }

    .text-container>:not(:last-child) {
      margin-bottom: 16px
    }

    p {
      font-size: 20px !important;
    }
  </style>
</head>

<body class="text-black">
  <%- include('includes/main_nav.ejs') %>
  <!-- END nav -->

  <!-- <div class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class=""></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-start">
        <div class="col-md-12 ftco-animate text-center mb-5">
          <p class="breadcrumbs mb-0"><span class="mr-3">
            <a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Corporate Corner</span> <i class="ion-ios-arrow-forward"></i> <span></span></p>
          <h1 class="mb-3 bread">Corporate Corner</h1>
        </div>
      </div>
    </div>
  </div> -->
  <style>
    
    .css-1tc0yr4 {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(4, minmax(192px, 416px));
      -webkit-box-pack: center;
      justify-content: center;
    }
  </style>
 <div class="container p-5 custom-container mb-0">
  <h1 class="custom-heading">
    Upreak Provides a Vast Range of Services as a One-Stop Solution for All Corporate Needs.</h1>
  <p class="text-center custom-para">
    Explore Upreak's comprehensive suite of services designed to address diverse corporate requirements, from talent acquisition and HR consulting to strategic business partnerships and digital transformation. Our tailored solutions empower organizations to thrive in a dynamic marketplace, offering unparalleled support for every aspect of corporate growth and development.</p>
  <div class="d-flex justify-content-center align-items-center text-center">
    <!-- <a href="#" class="btn-lg btn-dark text-white explore-btn">Explore More</a> -->
  </div>
</div>


<!-- <section class="bg-dark">
  <div class="container px-4 py-5 " id="featured-3">
    <h2 class="pb-2 border-bottom text-white">Features Of Upreak Services</h2>
    <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
      <div class="feature col-lg-4 col-md-6 col-sm-12 card  border-0">
        
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link card-footer">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col-lg-4 col-md-6 col-sm-12 card  border-0">
        
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link card-footer">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
      <div class="feature col-lg-4 col-md-6 col-sm-12 card border-0">
        
        <h2>Featured title</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link card-footer">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
    </div>
  </div>
</section> -->



<div class="container px-4 py-3" id="featured-3">
  <h1 class="pb-2 border-bottom" style="color: #000 !important; font-weight: 800;">Services Catalogue</h1>
  <div class="row g-4 py-2 row-cols-1 row-cols-md-2 row-cols-lg-3">
    <% corporatecorners.forEach(corporateCorner => { %>
      <a href="/corporate_services/<%= corporateCorner.company_url %>">
    <div class="col mb-4">
      <div class="card border-0 h-100">
        <div class="card-body">
          <!-- Uncomment and adjust the following line if image should be included -->
          <!-- <div class="feature-icon bg-gradient">
            <img src="../uploads/<%= corporateCorner.photo %>" style="width: 100%; height: 200px;" alt="<%= corporateCorner.company_category %>" class="img-fluid">
          </div> -->
          <h2 class="card-title" style="color: #000 !important;font-weight: 600;"><%= corporateCorner.company_category %></h2>
          <p class="card-text"><%= corporateCorner.company_description %></p>
        </div>
        <div class="card-footer border-top text-center bg-light text-black  ftco-animate">
          <a href="/corporate_services/<%= corporateCorner.company_url %>" class="icon-link text-black" style="color: #000 !important;font-weight: 800;">
            View Services
            <svg fill="#000000" width="28px" height="28px" viewBox="-12 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <title>angle-right</title>
              <path d="M0.88 23.28c-0.2 0-0.44-0.080-0.6-0.24-0.32-0.32-0.32-0.84 0-1.2l5.76-5.84-5.8-5.84c-0.32-0.32-0.32-0.84 0-1.2 0.32-0.32 0.84-0.32 1.2 0l6.44 6.44c0.16 0.16 0.24 0.36 0.24 0.6s-0.080 0.44-0.24 0.6l-6.4 6.44c-0.2 0.16-0.4 0.24-0.6 0.24z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </a>
    <% }); %>
  </div>
</div>


  <%- include('includes/main_footer.ejs') %>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" /></svg></div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false">
  </script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>