<%- include('includes/head.ejs') %>
<style>
  .fc .fc-event {
    border: 0;
    color: 000 !important;
    padding: 0.5rem;
}
.fc-daygrid-event {
    border-radius: 3px;
    font-size: var(--fc-small-font-size);
    position: relative;
    background-color: gray !important;
}
</style>
 <body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('includes/navbar.ejs') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <%- include('includes/sidebar.ejs') %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper row">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-12 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome <span class="text-uppercase"><%= session.username %></span></h3>
                  <h6 class="font-weight-normal mb-0">Unlock Your Potential with Upreak and Elevating Recruitment through Dashboards!</h6>
                </div>
              </div>
            </div>
          </div>

          <% for (let i = 0; i < locals.responseData.length; i++) { %>

            <% if (locals.responseData[i].urole === "User" && locals.responseData[i].emailid === session.userid) { %>
              <div class="col-md-12">
                <div class="row">
                  <% if(session.role == 'User') {%>
                  <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                      <div class="card-body">
                        <p class="mb-4"><strong>Referred Points</strong></p>
                        <p class="fs-30 mb-2"> <%= refCount %></p>
                      </div>
                    </div>
                  </div>
                  <%}%>  
                  <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                      <div class="card-body">
                        <p class="mb-4"><strong>Phone OTP Verification Status</strong></p>
                        <p class="fs-30 mb-2"><%= locals.responseData[i].phone_verify %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                      <div class="card-body">
                        <p class="mb-4"><strong>WhatsApp OTP Verification Status</strong></p>
                        <p class="fs-30 mb-2"><%= locals.responseData[i].whatsapp_verify %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                      <div class="card-body">
                        <p class="mb-4"><strong>Email OTP Verification Status</strong></p>
                        <p class="fs-30 mb-2"><%= locals.responseData[i].email_verify %></p>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="col-md-12 p-3 card">
                  <div class="panel-body">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FCalcutta" style="border-width:0" scrolling="no" width="100%" height="500" frameborder="0"></iframe>
                   
                  </div>
                </div>
              </div>
            <% } %>
          
          <% } %>
          
            <% if(session.role == "Master"  || session.role == "Admin" || session.role == "SubAdmin"){ %> 
              <div class="col-lg-12 col-md-12 ">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-4 stretch-card transparent text-center">
                    <div class="card card-tale shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total Active Job Seekers</strong></p>
                        
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'responses') { %>
                            <p class="fs-30 mb-2" style="font-size: 50px;"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4 stretch-card transparent text-center">
                    <div class="card  shadow">
                      <div class="card-body">
                        <% if (qryData && Array.isArray(qryData)) { %>
                          <p class="mb-4"><strong>Total Registered College MOU</strong></p>
                          <% qryData.forEach((tableInfo) => {
                            if (tableInfo && tableInfo.tablename === 'mou_registrations') { %>
                              <p class="mb-2" style="font-size: 50px;"><%= tableInfo.rowcount %></p>
                              <% }
                            }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4 stretch-card transparent text-center">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total MOU Student Enrolled</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'mou_students') { %>
                            <p class="fs-30 mb-2" style="font-size: 50px;"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-4 stretch-card transparent h-100 text-center">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total SubAdmin</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'dashlogins') { %>
                            <p class="fs-30 mb-2" style="font-size: 50px;"><%= tableInfo.subadmincount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-4 stretch-card transparent h-100 text-center">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total HR</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'dashlogins') { %>
                            <p class="fs-30 mb-2" style="font-size: 50px;"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 mb-4 stretch-card transparent h-100">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total Questions</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'questions') { %>
                            <p class="fs-30 mb-2"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-4 mb-4 stretch-card transparent h-100 text-center">
                    <div class="card bg-light shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total Blogs</strong></p>
              
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'blogs') { %>
                            <p class="fs-30 mb-2" style="font-size: 50px;"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                </div>  
                  
                <div class="row">
                  <div class="col-md-12 card p-3 ">
                    <div class="panel-body">
                            <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FCalcutta" style="border-width:0" scrolling="no" width="100%" height="500" frameborder="0"></iframe> -->
                            <div id='calendar' class="p-4"></div>
                            <!-- <script>
                              document.addEventListener('DOMContentLoaded', function() {
                                  var currentDate = new Date().toISOString().slice(0, 10); // Get the current date in 'YYYY-MM-DD' format
                                  var calendarEl = document.getElementById('calendar');
                                  var calendar = new FullCalendar.Calendar(calendarEl, {
                                      initialView: 'dayGridMonth',
                                      initialDate: currentDate,
                                      headerToolbar: {
                                          left: 'title',
                                          center: '',
                                          background:'#333',
                                          right: 'prev,next today'
                                      },
                                      events: [
                                          {
                                              title: '12',
                                              start: '',
                                              end: '',
                                              url: '' // Set the Google Meet link here
                                          },
                                      ]
                                  });
                          
                                  calendar.render();
                              });
                          </script> -->
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                              var calendarEl = document.getElementById('calendar');
                              var calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: 'dayGridMonth',
                                allDaySlot: false,
                                selectable: true,
                                timeZone: 'UTC',
                                headerToolbar: {
                                  left: 'title',
                                  center: '',
                                  right: ''
                                },
                                events: [
                                  <% if(locals && locals.meetingsData && locals.meetingsData.length > 0) {
                                    locals.meetingsData.forEach(function(event) { %>
                                      {
                                        title: '<%= event.title %>',
                                        start: '<%= event.start_time %>',
                                        end: '<%= event.end_time %>',
                                        email: '<%= event.email %>',
                                        savedEvent: true // Add this property for saved events
                                      },
                                    <% });
                                  } %>
                                ],
                                eventClick: function (info) {
                                  if (info.event.extendedProps.savedEvent) {
                                    const savedEventDetails = `<strong>${info.event.title}</strong><br>
                                      Start: ${info.event.start.toISOString()}<br>
                                      End: ${info.event.end.toISOString()}<br>
                                      Email: ${info.event.extendedProps.email}`;
                                    document.getElementById('savedEventDetails').innerHTML = savedEventDetails;
                                    $('#savedEventModal').modal('show');
                                  } else {
                                    
                                  }
                                },
                              });
                          
                              $('#savedEventModal').on('hidden.bs.modal', function () {
                                document.getElementById('savedEventDetails').innerHTML = '';
                              });
                          
                              calendar.render();
                            });
                          </script>
                          <div class="modal fade" id="savedEventModal" tabindex="-1" role="dialog" aria-labelledby="savedEventModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="savedEventModalLabel">Saved Event Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p id="savedEventDetails"></p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                          <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
                    </div>                  
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 p-5">
                <div class="row">
                  <!-- <div class="col-lg-12 mb-4 stretch-card transparent h-100">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total Admin</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'dashlogins') { %>
                            <p class="fs-30 mb-2"><%= tableInfo.admincount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="col-lg-12 mb-4 stretch-card transparent h-100">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total SubAdmin</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'dashlogins') { %>
                            <p class="fs-30 mb-2"><%= tableInfo.subadmincount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-4 stretch-card transparent h-100">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total HR</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'dashlogins') { %>
                            <p class="fs-30 mb-2"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-4 stretch-card transparent h-100">
                    <div class="card  shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total Questions</strong></p>
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'questions') { %>
                            <p class="fs-30 mb-2"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 mb-4 stretch-card transparent h-100">
                    <div class="card bg-light shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total Blogs</strong></p>
              
                      <% if (qryData && Array.isArray(qryData)) { %>
                        <% qryData.forEach((tableInfo) => {
                          if (tableInfo && tableInfo.tablename === 'blogs') { %>
                            <p class="fs-30 mb-2"><%= tableInfo.rowcount %></p>
                          <% }
                        }); %>
                      <% } else { %>
                        <p class="fs-30 mb-2">--</p>
                      <% } %>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            <%} else if(session.role == "HR") { %> 
              <div class="col-lg-12 col-md-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-tale shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total meetings Accepted</strong></p>
                          <p class="fs-30 mb-2"><%= totalMeetingsAccepted %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4 stretch-card transparent">
                    <div class="card   shadow">
                      <div class="card-body">
                        <p class="mb-4"><strong>Total Meeting completed in month</strong></p>
                        <p class="fs-30 mb-2"><%= totalMeetingsCompletedCurrentMonth %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4 stretch-card transparent">
                    <div class="card   shadow">
                      <div class="card-body">
                      <p class="mb-4"><strong>Total Meeting completed</strong></p>
                      <p class="fs-30 mb-2"><%= totalMeetingsCompleted %></p>
                      </div>
                    </div>
                  </div>
                </div>  
                   
                <div class="row p-3 m-2">
                  <div class="col-md-12 card p-3">
                    <div class="panel-body">
                            <iframe  class=" " src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FCalcutta" style="border-width:0" scrolling="no" width="100%" height="500" frameborder="0"></iframe>
                        </div>
                    
                  </div>
                </div>
              </div>
            <% } else  if(session.role == "Manager") {  %>
                <div class="col-md-12 p-3 card">
                  <div class="panel-body">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FCalcutta" style="border-width:0" scrolling="no" width="100%" height="500" frameborder="0"></iframe>
                   
                  </div>
              </div>
            <% } %>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include('includes/footer.ejs') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  
</body>