<head>
    <!-- HTML Meta Tags -->
<meta name="description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://upreak.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Upreak.com">
<meta property="og:description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">
<meta property="og:image" content="https://upreak.com/images/main_logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="https://upreak.com">
<meta property="twitter:url" content="https://upreak.com/">
<meta name="twitter:title" content="Upreak.com">
<meta name="twitter:description" content="Welcome to Upreak, a leading recruitment company dedicated to empowering freshers and experienced professionals in their pursuit of fulfilling careers. Our mission is to connect talented individuals with top companies and organizations, guiding them towards their dream jobs and helping them achieve their career aspirations.">
<meta name="twitter:image" content="https://upreak.com/images/main_logo.png">
    <title>Upreak - <%= locals.heading %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/images/main_logo.png" type="image/x-icon" height="100%" width="100%">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="../css/job.css">


<style>

</style>

  </head>

  <body>
    <%- include('includes/main_nav.ejs') %>
  
    <!-- Hero Area Start-->
    <div class="slider-area text-white mt-5">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center text-white" data-background="../images/about.jpg" style="background: url('https://upreak.com/images/about.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center text-white">
                            <h2 class="text-white"><%= locals.heading %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
   <div class="container py-5" >
    <section id="sectionJobList" class="section section-job-list gradient-light--lean-left">

        <div class="row row-grid justify-content-center">
            <div class="col-md-12">
                <div class="job-post-company">
                    <div class="container">
                        <div class="row justify-content-between">
                            <!-- Left Content -->
                            <div class="col-xl-7 col-lg-8">
                                <!-- job single -->
                                <div class="single-job-items mb-30">
                                    <div class="job-items">
                                        <div class="company-img">
                                            <a href="#"><img  src="uploads/<%= locals.photo %>" alt="Logo" width="80" height="80"></a>
                                        </div>
                                        <div class="job-tittle job-tittle2">
                                            <a href="#">
                                                <h4><%= locals.heading %></h4>
                                            </a>
                                            <ul>
                                                <li><%= locals.sub_heading %></li>
                                                <li><i class="fas fa-map-marker-alt"></i><%= locals.location %></li>
                                                <li><%= locals.amount %></li>
                                            </ul>
                                            <% if(locals.url) {%>
                                                <a href="<%= locals.url %>">
                                                    <h4><%= locals.url %></h4>
                                                </a>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                  <!-- job single End -->
                               
                                <div class="job-post-details">
                                    <div class="post-details1 mb-50  text-dark text-justify">
                                        <!-- Small Section Tittle -->
                                        <div class="small-section-tittle">
                                            <h4>Job Description</h4>
                                        </div>
                                        <p><%- locals.description %></p>
                                    </div>
                                </div>
        
                            </div>
                            <!-- Right Content -->
                            <div class="col-xl-4 col-lg-4">
                                <div class="post-details3  mb-50 ">
                                    <!-- Small Section Tittle -->
                                   <div class="small-section-tittle">
                                       <h4>Job Overview</h4>
                                   </div>
                                  <ul class="ms-0">
                                      <li>Posted date : <span><%= locals.createdAt %></span></li>
                                      <li>Location : <span><%= locals.location %></span></li>
                                      <li>Vacancy : <span><%= locals.vacancy%></span></li>
                                      <li>Experience : <span><%= locals && locals.experience == 'Any' ? 'Any' : locals.experience + ' ' %></span></li>
                                      <li>Job nature : <span><%= locals.job_type %></span></li>
                                      <li>CTC :  <span> <%= locals.amount %></span></li>
                                  </ul>
                                 <div class="apply-btn2">
                                    <button type="button" class="btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#jobApplicationModal" data-job-id="<%= locals.job_id %>">Apply Now</button>
                                 </div>
                               </div>
                               <div class="post-details4 ">
                                <!-- <div class="card border p-3 mt-5">
                                    <h1>Quick Signup</h1>
                                    <input type="text" class="form-control mb-2" placeholder="Enter Your Email">
                                    <a href="/jobs" class="btn btn-dark d-block w-100 mb-1 text-center">Sign Up</a>
                                    <p class="text-center m-0">or</p>
                                    <a href="/auth/google">  <button type="button" class="btn btn-outline-dark d-block w-100 mb-1"><i class="fa-brands fa-google"></i> SignIn With Google</button></a>
                                    <hr><p class="text-center">Already have an account? <a href="https://upreak.com/panel/login">Log In</a></p>
                      
                                  </div> -->

                               </div>
                                <!-- <div class="post-details4  mb-50">
                                    Small Section Tittle
                                   <div class="small-section-tittle">
                                       <h4>Company Information</h4>
                                   </div>
                                      <span>Colorlib</span>
                                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <ul>
                                        <li>Name: <span>Colorlib </span></li>
                                        <li>Web : <span> colorlib.com</span></li>
                                        <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                                    </ul>
                               </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
</div>

  <!-- Modal -->
<div class="modal fade" id="jobApplicationModal" tabindex="-1" aria-labelledby="jobApplicationModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jobApplicationModalLabel">Apply Now</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="applyForm" action="/job_application" method="post" autocomplete="off" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="job_id" name="job_id">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number (without or +91)</label>
                        <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Enter Your Number" maxlength="10" pattern="[7-9][0-9]{9}" title="Please enter a valid 10-digit phone number without +91 or 0"required onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>
                    <div class="mb-3">
                        <label for="resume" class="form-label">Resume</label>
                        <input type="file" class="form-control" id="resume" name="resume" accept=".pdf,.doc,.docx" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="applyForm" class="btn btn-primary">Apply</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var applyButtons = document.querySelectorAll('[data-bs-target="#jobApplicationModal"]');
        applyButtons.forEach(function(button) {
          button.addEventListener('click', function() {
            var jobId = this.getAttribute('data-job-id');
            document.getElementById('job_id').value = jobId;
          });
        });
      });
      
</script>
<%- include('includes/main_footer.ejs') %>
