<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upreak- Mou Registration</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/main_logo.png" type="image/x-icon" height="100%" width="100%">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">

    <link rel="stylesheet" type="text/css" href="/css/aos.css">

    <link rel="stylesheet" type="text/css" href="/css/ionicons.min.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="/css/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
      p{
        font-size: 21px;
      }
      h1,h2,h4{
        font-size: 25px;
        font-weight: 800;
      }
      label{
        color: black;
        font-weight: 800;
      }
    </style>
    <style>


      p, h1, h2, h3, h4, h5, h6, ul {
      margin: 0; }
      
      img {
      max-width: 100%; }
      
      ul {
      padding-left: 0;
      margin-bottom: 0; }
      
      a:hover {
      text-decoration: none; }
      
      :focus {
      outline: none; }
      
      .wrapper {
      min-height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center; }
      
      .inner {
      padding: 20px;
      background: #fff;
      max-width: 1100px;
      margin: auto;
      display: flex; }

      .inner .image-holder {
      width: 70%; }
      .inner form {
      width: 50%;
      padding-top: 36px;
      padding-left: 45px;
      padding-right: 45px; }
      .inner h3 {
      text-transform: uppercase;
      font-size: 25px;
      font-family: "Poppins-SemiBold";
      text-align: center;
      margin-bottom: 28px; }
      
      .form-group {
      display: flex; }
      .form-group input {
      width: 50%; }
      .form-group input:first-child {
      margin-right: 25px; }
      
      .form-wrapper {
      position: relative; }
      .form-wrapper i {
      position: absolute;
      bottom: 9px;
      right: 0; }
      
      .form-control {
      border: 1px solid #333;
      border-top: none;
      border-right: none;
      border-left: none;
      display: block;
      width: 100%;
      height: 30px;
      padding: 0;
      margin-bottom: 25px; }
      .form-control::-webkit-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
      .form-control::-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
      .form-control:-ms-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
      .form-control:-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
      
      select {
      -moz-appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      padding-left: 20px; }
      select option[value=""][disabled] {
      display: none; }
      
      button {
      border: none;
      width: 164px;
      height: 51px;
      margin: auto;
      margin-top: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background: #333;
      font-size: 15px;
      color: #fff;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      button i {
      margin-left: 10px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      button:hover i, button:focus i, button:active i {
      -webkit-animation-name: hvr-icon-wobble-horizontal;
      animation-name: hvr-icon-wobble-horizontal;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1; }
      
      @-webkit-keyframes hvr-icon-wobble-horizontal {
      16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
      33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
      49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
      66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
      83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
      @keyframes hvr-icon-wobble-horizontal {
      16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
      33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
      49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
      66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
      83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
      100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
      @media (max-width: 1199px) {
      .wrapper {
      background-position: right center; } }
      @media (max-width: 991px) {
      .inner form {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px; } }
      @media (max-width: 767px) {
      .inner {
      display: block; }
      .inner .image-holder {
      width: 100%; }
      .inner form {
      width: 100%;
      padding: 40px 0 30px; }
      
      button {
      margin-top: 60px; } }
      
      /*# sourceMappingURL=style.css.map */
      
      </style>
  </head>
  <body>
    
    <%- include('includes/main_nav.ejs') %>
    <!-- END nav -->
    
    <div class="hero-wrap hero-wrap-2" style="background-image: url('https://thumbs.dreamstime.com/b/middle-school-building-20723831.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
              <div class="col-md-12 ftco-animate text-center mb-5">
                  <img src="/uploads/<%- typeof locals != 'undefined' ? locals.photo : '' %>"
                      class="img-fluid mb-4" alt="School Logo" style="">
                  <h1 class="mb-2 bread"><%- typeof locals != 'undefined' ? locals.name : '' %> MOU Registration</h1>
                  <!-- Optional: Add a subheading or description for more context -->
                  <!-- <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span> <%- typeof locals != 'undefined' ? locals.shortname : '' %> MOU Registration</span></p> -->
              </div>
          </div>
      </div>
  </div>
  
<!-- <h1 class="m-5 text-center text-uppercase">Registration Recruitment Partner</h1> -->

<section class="container-fluid">
  <div class="row p-3 m-3 align-items-center">
      <div class="col-lg-6 order-lg-2 d-flex justify-content-end">
          <img class="img-fluid rounded" src="https://www.theforage.com/blog/wp-content/uploads/2023/04/What-Is-a-Panel-Interview.jpg" width="90%" alt="Panel Interview">
      </div>
      <div class="col-lg-6 p-5 mt-2">
          <h1 class="display-4 text-primary font-weight-bold mb-4 text-primary">Why Mock Interview</h1>
          <p class="lead text-dark text-justify">Mock interviews are crucial in today’s job market for
            honing interview skills and boosting confidence. They
            provide a realistic environment for practicing, allowing
            you to fine-tune responses and improve body language.
            This practice is vital for adapting to various interview
            formats and managing stress. Additionally, mock
            interviews offer valuable feedback, helping identify
            strengths and areas for improvement. They also assist in
            articulating your unique selling proposition, making you
            stand out to potential employers. Ultimately, mock
            interviews are a strategic tool, significantly increasing
            your chances of landing your desired job in a
            competitive landscape.
            </p>
      </div>
  </div>
</section>

 
</section>
<!-- <section class="container-fluid">
  <div class="parallax-img align-items-center">
      <div class="bg-dark text-white">
          <div class="container-fluid">
              <h1 class="text-center pt-5" style="font-size: 50px;color:white;">Registration Form</h1>
              <div class="row d-flex  pl-5 pr-5 pb-5 pt-0">
                  <div class="col-md-12 mt-5 pt-1 pb-5 heading-section heading-section-white ftco-animate">
                      <p class="text-justify p-5 pt-0">
                          <%- typeof locals != 'undefined' ? locals.description : '' %>
                      </p>
                      <ul class="m-0 text-justify pl-5 pt-0" style="font-size: 18px;">
                          <li>Expert guidance</li>
                          <li>Flexible work options</li>
                          <li>Reward system</li>
                          <li>Job opportunities</li>
                          <li>Community support</li>
                      </ul>
                  </div>
                  <div class="col-md-12 p-2 pt-1 pb-5 justify-content-center justify-content-between d-flex" >
                    <form id="mou_registration_form" role="form" style="width:40%">
                      <div class="form-group text-white">
                        <label for="fullName" class="text-white">Full Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="email" class="text-white">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="contactNumber" class="text-white">Contact Number</label>
                            <input type="text" class="form-control" id="number" name="number" required>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="gender" class="text-white">Gender</label>
                        <input type="text" class="form-control" id="gender" name="gender" required>
                      </div>
                      <div class="form-group">
                        <label for="password" class="text-white">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                      </div>
                      
                      <div class="form-group">
                        <label for="city" class="text-white">City</label>
                        <input type="text" class="form-control" id="city" name="city" required>
                      </div>
                      <div class="form-group">
                        <label for="shortname" hidden class="text-white">Shortname</label>
                        <input type="text" hidden id="shortname" name="shortname" value="<%- locals.shortname %>">
                      </div>
                      <div class="form-group">
                        <label for="clgname" hidden class="text-white">Clgname</label>
                        <input type="text" hidden id="clgname" name="clgname" value="<%- locals.name %>">
                      </div>
                     
                      <button type="submit" id="mou-submit-btn" class="btn btn-success d-block btn-lg">Register Now</button>
                    </form>
                   
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  ul {
    list-style: none;
    padding: 5px;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-in-out;
  }

  .icon {
    margin-right: 10px;
    font-size: 24px;
  }

  /* Colors for icons */
  .icon-facebook::before { content: "\f09a"; color: #1877f2; }
  .icon-instagram::before { content: "\f16d"; color: #bc2a8d; }
  .icon-linkedin::before { content: "\f0e1"; color: #2867B2; }
  .icon-twitter::before { content: "\f099"; color: #1DA1F2; }
  .icon-youtube::before { content: "\f167"; color: #FF0000; }
</style>
<div class="wrapper p-4" style="background-image: url('https://thumbs.dreamstime.com/b/middle-school-building-20723831.jpg');">
  <div class="inner">
    <div class="image-holder">
      <!-- <img src="https://thumbs.dreamstime.com/b/middle-school-building-20723831.jpg" alt=""> -->
     <div class="d-flex justify-content-center">
      <img src="/uploads/<%- typeof locals != 'undefined' ? locals.photo : '' %>"
      class="img-fluid mb-4 mt-5" alt="School Logo" style="width: 80%;">
   
     </div>
      <p> <%- typeof locals != 'undefined' ? locals.description : '' %></p>
      <h2 class="text-start">Connect Us</h2>
      <ul class="p-3">
        <% if (locals.facebook) { %>
          <li><a href="<%= locals.facebook %>"><span class="icon icon-facebook"></span> Facebook</a></li>
        <% } %>
      
        <% if (locals.instagram) { %>
          <li><a href="<%= locals.instagram %>"><span class="icon icon-instagram"></span> Instagram</a></li>
        <% } %>
      
        <% if (locals.linkedin) { %>
          <li><a href="<%= locals.linkedin %>"><span class="icon icon-linkedin"></span> Linkedin</a></li>
        <% } %>
      
        <% if (locals.twitter) { %>
          <li><a href="<%= locals.twitter %>"><span class="icon icon-twitter"></span> Twitter</a></li>
        <% } %>
      
        <% if (locals.youtube) { %>
          <li><a href="<%= locals.youtube %>"><span class="icon icon-youtube"></span> Youtube</a></li>
        <% } %>
      </ul>
      <p>
        For Any Support Contact to:
        <b>
          <%- typeof locals != 'undefined' ? locals.supportby : 'Upreak' %>
        </b>
        <br>
        Contact Number:
        <a href="tel:<%- typeof locals != 'undefined' ? locals.supportnumber : '+9179759 30773' %>">
          <%- typeof locals != 'undefined' ? locals.supportnumber : '+9179759 30773' %>
        </a>
        <br>
        Email Address:
        <a href="mailto:<%- typeof locals != 'undefined' ? locals.supportemail : 'info@upreak.com' %>">
          <%- typeof locals != 'undefined' ? locals.supportemail : 'info@upreak.com' %>
        </a>
      </p>
      
    </div>
    <form id="mou_registration_form" role="form" style="width:40%">
      <h3>Registration Form</h3>
      <div class="form-wrapper d-flex justify-content-between">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>        
      </div>
      <div class="form-wrapper">
        <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
        <i class="zmdi zmdi-account"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" class="form-control" id="number" placeholder="Phone Number" name="number" required>
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <select id="gender" name="gender" class="form-control">
          <option value="" disabled selected>Gender</option>
          <option value="male">Male</option>
          <option value="femal">Female</option>
          <option value="other">Other</option>
        </select>
        <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
      </div>
      <div class="form-wrapper">
        <input type="password" class="form-control" id="password" name="password"  placeholder="Password"required>
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input  type="text" hidden id="shortname" name="shortname" value="<%- locals.shortname %>">
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" hidden id="clgname" name="clgname" value="<%- locals.name %>">
        <i class="zmdi zmdi-lock"></i>
      </div>
      <button>Register
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
      <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="display-4 text-primary font-weight-bold mb-4 ">Why Choose us</h1>
                <p class="lead text-dark text-justify ">Choosing us for your interview experience aligns you with a
                  career path tailored to your skills and aspirations. Our
                  personalized approach ensures each interview is a step
                  towards your dream job, spanning diverse sectors and
                  locations. With expert guidance from industry professionals,
                  you're prepared not just for the interview, but for long-term
                  success. Our high placement rate and innovative, affordable
                  services make your job search efficient and transformative.
                  Interviewing with We isn't just a job hunt; it's a strategic,
                  supported journey to your ideal career in a competitive
                  market.
                  </p>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <img class="img-fluid rounded" src="https://9253440.fs1.hubspotusercontent-na1.net/hubfs/9253440/successful-job-interview.jpg" alt="Successful Job Interview">
            </div>
        </div>
    </div>
    







<!-- partial -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script><script  src="./script.js"></script>
<script>
  //jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
        'transform': 'scale('+scale+')',
        'position': 'absolute'
      });
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});
</script>
    <%- include('includes/main_footer.ejs') %>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/js/jquery.stellar.min.js"></script>
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/js/aos.js"></script>
  <script type="text/javascript" src="/js/jquery.animateNumber.min.js"></script>
  <script type="text/javascript" src="/js/scrollax.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script type="text/javascript" src="/js/google-map.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  
  <!-- <script>
        // script.js

    // Function to send an email using SMTP
    function sendEmail(formData) {
      const emailBody = `
        <!DOCTYPE html>
        <html>
        <head>
          <title>Registration Form Submission</title>
        </head>
        <body style="font-family: Arial, sans-serif; line-height: 1.6; font-size: 14px;">
          <h2 style="color: #007BFF;">Registration Form Submission</h2>
          <p>
            <strong>Full Name:</strong> ${formData.fullName}
          </p>
          <p>
            <strong>Email Address:</strong> ${formData.email}
          </p>
          <p>
            <strong>Contact Number:</strong> ${formData.contactNumber}
          </p>
          <p>
            <strong>City:</strong> ${formData.city}
          </p>
        </body>
        </html>
      `;

      return Email.send({
        Host: "smtp.office365.com",
        Username: "superadmin@upreak.com",
        Password: "superadmin",
        To: "superadmin@upreak.com",
        From: formData.email,
        Subject: "Registration Form Submission",
        Body: emailBody,
        ContentType: "text/html; charset=utf-8",
      });
    }


    // Handle form submission
    document.getElementById("registrationForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent form from being submitted
      // Send the email
      sendEmail(formData)
        .then(function(message) {
          // Email sent successfully
          alert("Form Submitted Successfully!");
        })
        .catch(function(error) {
          // Failed to send email
          alert("Failed to send email. Please try again later.");
        });
    });

  </script> -->

  <script>
    $(document).ready(function() {
      // LOGIC: Handling of form submission
      $('#mou-submit-btn').on('click', function (event){
        event.preventDefault();
   
      const name = document.getElementById("name").value;
      const email = document.getElementById("email").value;
      const number = document.getElementById("number").value;
      const city = document.getElementById("city").value;
      const password = document.getElementById("password").value;
      const gender = document.getElementById("gender").value;
      const shortname = document.getElementById("shortname").value;
      const clgname = document.getElementById("clgname").value;

      if (name === '' || email === '' || number === '' || password === '' || gender === '' || city === '' ) {
        alert("Please Enter All Details");
        return false;
    }
      // Create an object with form data
      const formData = {
        name: name,
        email: email,
        number: number,
        city: city,
        password: password,
        gender : gender,
        shortname: shortname,
        clgname : clgname
      };
        // Send data using "POST" ajax request
        $.ajax({
          url: '/register_mou',
          data: formData,
          type:'POST',
          success: function(data){
              if(data.status) {
                alert(`${data.msg}`);
                //location.href = data.url;    
                location.reload();
              }else{
                alert(`${data.msg}`);
                location.reload();
              }
          }
        })
      //}
    })
  })

  </script>
  </body>
</html>






