<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
  integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"
  integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<!-- Updated html2pdf library -->
<script src="https://cdn.jsdelivr.net/npm/html2pdf.js@0.10.1/dist/html2pdf.bundle.js"></script>
<!-- Include html2pdf library -->
<script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>


<style>
  body {
    min-height: 100vh;
    background: linear-gradient(to right, #18191f, #395778);
    background-size: 400% auto;
    /* animation: gradientAnimation 15s ease infinite; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
  }

  /* @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
  #resume_div {
    page-break-inside: avoid;
  }
  
  .container {
    max-width: 650px;
    background: #fff;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 40px;
    margin-top: 50px;
    text-align: center;
  }

  .container * {
    text-align: left;
    /* Правило для дочерних элементов */
  }

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .header {
    margin-bottom: 30px;
  }

  .header .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .header .first-name {
    font-weight: 700;
  }

  .header .last-name {
    font-weight: 300;
  }

  .header .contact-info {
    margin-bottom: 20px;
  }

  .header .email,
  .header .phone {
    color: #e41e49;
    font-weight: 300;
  }

  .header .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #494732;
    margin: 0px 10px;
  }

  .header .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }

  .details {
    /* line-height: 20px; */
  }

  .details .section {
    margin-bottom: 40px;
  }

  .details .section:last-of-type {
    margin-bottom: 0px;
  }

  .details .section__title {
    letter-spacing: 2px;
    color: #e41e49;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .details .section__list-item {
    margin-bottom: 40px;
  }

  .details .section__list-item:last-of-type {
    margin-bottom: 0;
  }

  .details .left,
  .details .right {
    vertical-align: top;
    display: inline-block;
  }

  .details .left {
    width: 60%;
  }

  .details .right {
    text-align: right;
    width: 39%;
  }

  .details .name {
    font-weight: bold;
  }

  .details a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }

  .details a:hover {
    text-decoration: underline;
    color: #000;
  }

  .details .skills {}

  .details .skills__item {
    margin-bottom: 10px;
  }

  .details .skills__item .right input {
    display: none;
  }

  .details .skills__item .right label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #C3DEF3;
    border-radius: 20px;
    margin-right: 3px;
  }

  .details .skills__item .right input:checked+label {
    background: #79A9CE;
  }

  .phone-hidden {
    display: none;
  }

  .last-name {
    color: #333333;
  }

  #resume_div {
      display:block;
    }
    #mobile{
      display:none;
    }
  
  /* Responsive padding adjustments */
  @media screen and (max-width: 768px) {
  #resume_div {
      display:none;
    }
  }
  
  @media screen and (max-width: 576px) {
   #resume_div {
      display:none;
    }
    #mobile{
      display:block;
      font-size: 25px;
      padding: 5%;
    margin-top: 3%;
    text-align: center;
    }
    #generate_pdf_btn{
      display:none;
    }
  }
  
      </style>
<body>
  <div class="container-scroller ">
    <%- include('includes/navbar.ejs') %>
    <div class="container-fluid page-body-wrapper ">
      <%- include('includes/sidebar.ejs') %>
      <div class="main-panel ">
        <div class="content-wrapper ">
          <div class="row ">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-lg-7 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Analysis Report</h3>
                  <h6 class="font-weight-normal mb-0">Unlock Your Potential with Upreak and Elevating Recruitment
                    through Dashboards!</h6><br>
                </div>
                <div class="col-lg-4">
                  <!-- <a href="/panel/view_details" class="ml-1 btn btn-primary" style="float:right">View Data</a> -->
                  <button id="generate_pdf_btn" type="button" class="btn btn-primary me-1 ms-1"
                    style="float:right">Download </button>

                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div >
                  <div class="card shadow main p-4" id="resume_div" style="width: 8.27in;">
                    <div class="row">
                      <div class="col-lg-12 pb-3">
                        <div class="d-flex justify-content-center">
                          <% if(session.createdby == "User"){ %>
                          <img src="/images/main_logo.png" width="220px">
                          <% } else {%>
                          <img src="/uploads/<%= mou_data.photo %>" alt="collegelogo" width="220px">
                          <% } %>
                        </div>
                      </div>

                      <div class="d-flex justify-content-center  bg-light">
                        <div class="col p-3 d-flex justify-content-end" style="font-size: 18px;">
                          <img src="/uploads/<%= reponse_detail.upload_photo %>" width="120px" height="120px"
                            style="border: 1px solid #333;">
                        </div>
                        <div class="col p-3 justify-content-center" style="font-size: 18px;">
                          <b class="text-primary">Candidate Details </b>
                          <br><%- typeof locals[0] != 'undefined' ? locals[0].candidateid : '' %>
                          <br><%- typeof locals[0] != 'undefined' ? locals[0].candidatename : '' %>
                          <br><%- typeof locals[0] != 'undefined' ? locals[0].candidateemail : '' %>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 p-3 bg-light" style="font-size: 18px;">
                        <b class="text-primary">Candidate Job
                          Role</b><br><%- typeof reponse_detail != 'undefined' ? reponse_detail.job_role : '' %>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 p-3  bg-light" style="font-size: 18px;">
                        <b class="text-primary">Candidate Skills
                        </b><br><%- typeof reponse_detail != 'undefined' ? reponse_detail.skill1 : '' %>,<%- typeof reponse_detail != 'undefined' ? reponse_detail.skill2 : '' %>,<%- typeof reponse_detail != 'undefined' ? reponse_detail.skill3 : '' %>,<%- typeof reponse_detail != 'undefined' ? reponse_detail.skill4 : '' %>,<%- typeof reponse_detail != 'undefined' ? reponse_detail.skill5 : '' %>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 p-3  bg-light" style="font-size: 18px;">
                        <b class="text-primary">Candidate Preferred
                          Designation</b><br><%- typeof reponse_detail != 'undefined' ? reponse_detail.preferred_designation : '' %>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 p-3  bg-light" style="font-size: 18px;">
                        <b class="text-primary">Candidate Level
                        </b><br><%- typeof reponse_detail != 'undefined' ? reponse_detail.exp_seeker_type  : '' %>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 p-3  bg-light" style="font-size: 18px;">
                        <b class="text-primary">Candidate Known
                          Languages</b><br><%- typeof reponse_detail != 'undefined' ? reponse_detail.languages : '' %>
                      </div>
                      <% if(mou_data != undefined) { %>
                      <div class="col-lg-6 col-md-6 col-sm-6 p-3  bg-light" style="font-size: 18px;">
                        <b class="text-primary">College Name
                        </b><br><%- typeof locals[0] != 'undefined' ? mou_data.college : 'Not Mentioned' %>
                      </div>
                      <%}%>
                      <div class="col-lg-6 col-md-6 col-sm-6 p-3  bg-light" style="font-size: 18px;">
                        <b class="text-primary">Interview Date
                        </b><br><%- typeof interviewDate != 'undefined' ? interviewDate : '' %>
                      </div>
                      <!-- <div class="col-lg-6 col-md-6 col-sm-6 p-3 mt-2" style="font-size: 18px;">
                        <b class="text-primary">Interview Playback </b><br><a href="#"
                          class="text-decoration-none text-white btn-primary btn">View</a>
                      </div> -->

                    </div>
                    <div class="d-flex justify-content-center">
                      <% if(session.createdby == "User"){ %>
                      <!-- <img src="/images/main_logo.png" width="220px"> -->
                      <% } else {%>
                      <!-- <img src="/uploads/<%= mou_data.photo %>" alt="collegelogo" width="220px"> -->
                      <% } %>
                    </div>
                    <h4 class="font-weight-bold">Embark on your career journey with
                      <b><%= session.createdby == "User" ? 'Upreak' : (mou_data.name + ', partened with upreak') %></b> and
                      take stride to towards dreams career.</h4>
                    <p class="text-justify">Welcome to
                      <b><%= session.createdby == "User" ? 'Upreak' : mou_data.name %></b>, where we stand at the
                      forefront of the recruitment industry,
                      fueled by an unwavering commitment to revolutionizing the job search experience. Our mission is to
                      create a bridge that connects job seekers with their ideal positions in prestigious organizations.
                      To
                      achieve this, we offer a suite of personalized services that include in-depth resume critiques,
                      simulated mock interviews, and consultations with seasoned HR professionals. Each service is
                      carefully
                      crafted to meet your unique ambitions. <br>
                      <br>Our team is composed of experienced recruiters and HR specialists who bring a wealth of
                      industry
                      knowledge and insights to our clients, ensuring that they benefit from our comprehensive services
                      and
                      expansive HR network throughout India. At
                      <b><%= session.createdby == "User" ? 'Upreak' : mou_data.name %></b>, we provide more than just
                      interview preparation; we
                      serve as a career compass, equipping you with the necessary skills and knowledge that are vital in
                      the
                      current job market. Our dedication goes beyond the immediate; we strive to unlock future
                      opportunities
                      for you, keeping you a step ahead in your professional endeavors.
                      <br><br>Embark on your career journey with
                      <b><%= session.createdby == "User" ? 'Upreak' : mou_data.name %></b> and take strides toward your
                      dream career. </p>
                    <br>
                    <h4 class="font-weight-bold">Feedback</h4>
                    <p class="text-justify">Candidate evaluation at
                      <b><%= session.createdby == "User" ? 'Upreak' : mou_data.name %></b> is an intricate and detailed
                      process that
                      utilizes specific criteria to offer profound insights into each candidate's strengths and
                      potential
                      growth areas. Our feedback is crafted with precision by industry experts, providing practical and
                      individualized advice to empower you. This bespoke guidance is aimed at refining interview skills
                      and
                      helping you achieve your professional goals. Additionally, we provide detailed ratings and
                      comprehensive feedback. </p>
                    <div>
                    </div>
                    <section class="report">
                      <div class="mt-5 mb-2">
                        <h2 class="text-center">Analysis Report</h2>
                      </div>
                      <h2 class="border-bottom"></h2>
                      <div class="interviewpreparedness">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">1. Interview Preparedness
                          </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].interviewpreparedness) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].interviewpreparedness <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Needs improvement in interview preparedness. Focus on attire, greeting, and research to create
                          a more positive first impression.
                          To improve more <a href="https://www.upreak.com/preview_blogs/The%20Prepared%20Candidate%20:%20Essential%20Tips%20for%20Every%20Job%20Seeker%20to%20land%20into%20their%20dream%20job">Click Here</a>
                          <% } 
                          else if(locals[0].interviewpreparedness == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Good interview preparedness with appropriate attire and a friendly greeting that leaves a
                          positive impression. Maintain and refine your presentation skills.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Exceptional interview preparedness, marked by impeccable attire and a warm, professional
                          greeting, reflecting true professionalism.
                          <% } %></p>
                      </div>
                      <div class="confidencenervousness">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">2. Confidence & Nervousness
                          </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].confidencenervousness) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].confidencenervousness <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Work on building confidence. Practice responding to questions and engage in activities that
                          boost self-assurance to reduce nervousness.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Own%20the%20Room%20Mastering%20Interviews%20through%20Confidence">Click Here</a>
                          <% } 
                          else if(locals[0].confidencenervousness == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Commendable confidence shown in the interview, with assertive and knowledgeable responses.
                          Keep updating your expertise to stay confident.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Outstanding interview confidence, creating a strong impression with an assertive yet
                          respectful manner.
                          <% } %></p>
                      </div>
                      <div class="verbalcommunication">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">3. Verbal Communication Skills
                          </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].verbalcommunication) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].verbalcommunication <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Focus on improving verbal communication. Work on clarity, articulation, and effective
                          expression of ideas.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Guide%20to%20Enhancing%20Verbal%20Communication%20Skills%20in%20Interviews">Click Here</a>
                          <% } 
                          else if(locals[0].verbalcommunication == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Strong verbal communication skills, articulating ideas clearly and effectively. Continue
                          practicing and refining these skills for enhanced clarity.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Strong verbal communication skills, articulating ideas clearly and effectively. Continue
                          practicing and refining these skills for enhanced clarity.
                          <% } %></p>
                      </div>
                      <div class="nonverbalcommunication">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">4. Non-Verbal Communication
                            Skills </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].nonverbalcommunication) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].nonverbalcommunication <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Enhance nonverbal communication skills. Pay attention to body language, eye contact, and
                          gestures to complement verbal messages.
                          To improve more <a href="https://www.upreak.com/preview_blogs/The%20Hidden%20Language%20of%20Success%20Nonverbal%20Communication%20Strategies%20for%C2%A0Professionals">Click Here</a>
                          <% } 
                          else if(locals[0].nonverbalcommunication == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Impressive nonverbal communication, effectively using gestures and eye contact to enhance the
                          message. Keep refining these skills for clearer communication.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Exceptional nonverbal communication, masterfully using body language to complement verbal
                          messages, significantly enhancing overall communication effectiveness.
                          <% } %></p>
                      </div>
                      <div class="computerproficiency">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">5. Computer and Software
                            Proficiency </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].computerproficiency) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].computerproficiency <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Improve computer and software proficiency. Update technical skills and familiarize yourself
                          with relevant tools and software.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Guide%20to%20Answering%20Computer%20and%20Software%20Proficiency%20Interview%20Questions">Click Here</a>
                          <% } 
                          else if(locals[0].computerproficiency == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Very good proficiency in computer and relevant software, efficiently utilizing tools for
                          productivity. Keep updating your technical skills with new software developments.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Excellent computer and software skills, demonstrating advanced proficiency that greatly
                          enhances work efficiency. Continue to explore and master emerging technologies.
                          <% } %></p>
                      </div>
                      <div class="enthusiasmmotivation">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">6. Enthusiasm and Motivation
                          </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].enthusiasmmotivation) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].enthusiasmmotivation <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Boost enthusiasm and motivation. Engage in activities and projects that ignite passion and
                          drive for better performance and job satisfaction.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Guide%20to%20Showcasing%20Enthusiasm%20and%20Motivation%20in%20Job%20Interviews">Click Here</a>
                          <% } 
                          else if(locals[0].enthusiasmmotivation == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          High enthusiasm and motivation for the role, a significant asset. Keep nurturing your passion
                          for career growth.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          : Extremely enthusiastic and motivated, visibly passionate about the role. Continue inspiring
                          others with your enthusiasm.
                          <% } %></p>
                      </div>
                      <div class="timemanagement">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">7. Time Management </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].timemanagement) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].timemanagement <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Improve time management skills. Prioritize tasks, set realistic deadlines, and develop
                          strategies to efficiently manage time.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Effective%20Time%20Management%20Techniques%20for%20the%20Workplace">Click Here</a>
                          <% } 
                          else if(locals[0].timemanagement == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Strong time management skills, effectively prioritizing and completing tasks efficiently.
                          Continue refining these skills for even better productivity.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Outstanding time management, excelling in prioritizing tasks and managing deadlines, setting a
                          high standard for efficiency and productivity.
                          <% } %></p>
                      </div>
                      <div class="achievementsaccomplishments mt-3">
                        <div class="row mt-4">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">8. Achievements and
                            Accomplishments </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].achievementsaccomplishments) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-4 mb-4 text-justify" style="line-height: 20px;">
                          <% if (locals[0].achievementsaccomplishments <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Focus on setting and achieving tangible goals. Strive for accomplishments that contribute
                          significantly to personal and professional growth.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Guide%20to%20Showcasing%20Achievements%20and%20Accomplishments%20in%20Job%20Interviews">Click Here</a>
                          <% } 
                          else if(locals[0].achievementsaccomplishments == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Notable achievements, demonstrating a strong track record of success. Continue striving for
                          excellence and setting higher goals.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Impressive accomplishments, setting a benchmark in your field. Your consistent excellence
                          serves as an inspiration for continuous achievement.
                          <% } %></p>
                      </div>
                      <div class="teamwork">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">9. Leadership Skills </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].teamwork) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].teamwork <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          : Needs to develop teamwork skills. Engage more in collaborative projects and focus on
                          effective communication and cooperation within a team.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Guide%20to%20Demonstrating%20Project%20Management%20and%20Leadership%20Skills%20in%20Interviews">Click Here</a>
                          <% } 
                          else if(locals[0].teamwork == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Strong teamwork skills demonstrated, effectively collaborating in team settings. Keep
                          enhancing this skill through group projects and workshops.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Exceptional teamwork capabilities, contributing significantly towards common goals. Continue
                          in leadership roles and learn from successful teams.
                          <% } %></p>
                      </div>
                      <div class="worklifebalance">
                        <div class="row mt-3">
                          <div class="col-lg-8 font-weight-bold" style="font-size: 20px;">10. Work-Life Balance </div>
                          <div class="col-lg-4 text-center" style="font-size: 25px;">
                            <%- typeof locals[0] !== 'undefined' ? '⭐'.repeat(locals[0].worklifebalance) : '☹️ No Rating' %>
                          </div>
                        </div>
                        <p class="mt-3 mb-3 text-justify" style="line-height: 20px;">
                          <% if (locals[0].worklifebalance <= 3) { %>
                          <h5 class="text-success">Suggestion for Improvement</h5>
                          Focus on achieving a better work-life balance. Organize and prioritize tasks to manage
                          professional and personal life more effectively.
                          To improve more <a href="https://www.upreak.com/preview_blogs/Guide%20to%20Demonstrating%20Time%20Management%20and%20Work-Life%20Balance%20in%20Interviews">Click Here</a>
                          <% } 
                          else if(locals[0].worklifebalance == 4) { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Good maintenance of work-life balance, effectively managing professional and personal
                          commitments. Continue finding ways to optimize your time for both work and leisure.
                          <% } else { %>
                          <h5 class="text-success">Performance Comment</h5>
                          Good maintenance of work-life balance, effectively managing professional and personal
                          commitments. Continue finding ways to optimize your time for both work and leisure.
                          <% } %></p>
                      </div>


                    </section>
                    <br>
                    <h4 class="font-weight-bold">Overall Comment</h4>
                    <p class="text-justify">
                      <%- typeof locals[0] != 'undefined' ? locals[0].comments : 'No Overall Comments' %></p>
                    <hr>
                    <div>
                      <h4 class="font-weight-bold">About Us</h4>
                      <p class="text-justify">We at <b><%= session.createdby == "User" ? 'Upreak' : mou_data.name %></b>
                        are honored to contribute to your professional development. For those who wish to
                        explore their career goals further or seek additional advice, we invite you to engage with us
                        through our various channels of communication, such as social media, email, or our website, to
                        offer
                        assistance and support as you pursue your career aspirations. </p>

                      <p class="text-center font-weight-bold fs-5">-- Connect Us on Social Media --</p>

                      <div
                        style="display:flex;list-style:none;padding: unset;text-align: center;justify-content: center;">
                        <a href="https://www.linkedin.com/company/upreak" target="_blank"><img
                            src="/images/social/li.png" width="20"
                            style="display: block; border: 0px;margin-top: 0px;margin-right: 15px;" /></a>
                        <a href="https://www.facebook.com/upreak" target="_blank"><img
                            src="/images/social/f.png" width="20"
                            style="display: block; border: 0px;margin-top: 0px;margin-right: 15px;" /></a>
                        <a href="https://twitter.com/upreak" target="_blank"><img
                            src="/images/social/t.png" width="20"
                            style="display: block; border: 0px;margin-top: 0px;margin-right: 15px;" /></a>
                        <a href="https://www.youtube.com/@Upreak" target="_blank"><img
                            src="/images/social/y.png" width="20"
                            style="display: block; border: 0px;margin-top: 0px;margin-right: 15px;" /></a>
                        <a href="https://www.instagram.com/upreakofficial/" target="_blank"><img
                            src="/images/social/i.png" width="20"
                            style="display: block; border: 0px;margin-right: 15px;" /></a>
                      </div>
                      <br>


                    </div>
                  </div>
                  <div class="card" id="mobile">
                    <div class="tenor-gif-embed" data-postid="20504190" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/oops-yellow-squiggly-line-below-oops-in-purple-bubble-letters-my-bad-my-mistake-sorry-gif-20504190">Oops Yellow Squiggly Line Below Oops In Purple Bubble Letters Sticker</a>from <a href="https://tenor.com/search/oops-stickers">Oops Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                    You can download report on desktop/ by opening the tab in desktop mode.
                  </div>
                </div>
              </div>
            </div>
            <%- include('includes/footer.ejs') %>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
      <script>
        const firstName = document.querySelector(".first-name");

        firstName.addEventListener("mouseenter", () => {
          firstName.style.color = "red";
        });

        firstName.addEventListener("mouseleave", () => {
          firstName.style.color = "initial";
        });

        gsap.from(".container", {
          duration: 1,
          opacity: 0,
          y: -50
        });
        gsap.from(".header", {
          duration: 1,
          opacity: 0,
          y: -50,
          delay: 0.5
        });
        gsap.from(".section", {
          duration: 1,
          opacity: 0,
          y: -50,
          stagger: 0.2,
          delay: 1
        });
      </script>

      <script>
// Wrap your code inside window.onload to ensure it runs after the page has fully loaded
window.onload = function () {
  
  // Variable to track whether the content is fully loaded
  let isContentLoaded = false;

  // Function to check if content is fully loaded
  function checkContentLoaded() {
    // Add your logic to determine if the content is fully loaded
    // For example, check if specific elements are present or loaded

    // For demonstration purposes, let's assume the content is fully loaded after 2 seconds
    setTimeout(function () {
      isContentLoaded = true;

      // Enable the download button
      enableDownloadButton();
    }, 5000);
  }

  // Enable the download button if the content is fully loaded
  function enableDownloadButton() {
    const downloadButton = document.getElementById("generate_pdf_btn");

    if (isContentLoaded) {
      // Content is fully loaded, enable the download button
      downloadButton.disabled = false;
    } else {
      // Content is not fully loaded, disable the download button
      downloadButton.disabled = true;
    }
  }

  // Check if content is fully loaded when the page is ready
  checkContentLoaded();

  // Attach a click event listener to the download button
  document.getElementById("generate_pdf_btn").addEventListener('click', function () {
    // Check if the content is fully loaded before allowing the user to download
    if (isContentLoaded) {
      const element = document.getElementById('resume_div');
      let cid = `<%- typeof locals[0] != 'undefined' ? locals[0].candidateid : '' %>`;
      const currentDate = new Date().toLocaleDateString('en-GB'); 

      // Ensure dynamic content is fully rendered before generating PDF
      html2pdf(element, {
        filename: `${cid}_${currentDate}.pdf`, // Specify the desired filename here
        jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait', autoAddPage: false },
        pagebreak: { mode: 'avoid-all' },
        output: function (pdf) {
          // Save the PDF using the FileSaver.js library
          pdf.save();
        }
      });
    } else {
      // Show an alert or provide feedback that the content is still loading
      alert("Please wait for the content to fully load before downloading.");
    }
  });
  
};

      </script>

</body>