<style>
  .beautiful-section {
  background-color: #f0f0f0;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 600px;
  margin: 50px auto;
}

h1 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}
</style>
<%- include('includes/head.ejs') %>
<body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%- include('includes/navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('includes/sidebar.ejs') %>
        <!-- partial -->
        <div class="main-panel"> 
          <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Phone Number Verification</h3>
                  <h6 class="font-weight-normal mb-0">*If input box is empty then kindly save your number first via edit details.</span></h6>
                </div>
                <!--<div class="col-12 col-xl-4">-->
                <!--  <div class="justify-content-end d-flex">-->
                <!--  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">-->
                <!--    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                <!--      <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)-->
                <!--    </button>-->
                <!--    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">-->
                <!--      <a class="dropdown-item" href="#">January - March</a>-->
                <!--      <a class="dropdown-item" href="#">March - June</a>-->
                <!--      <a class="dropdown-item" href="#">June - August</a>-->
                <!--      <a class="dropdown-item" href="#">August - November</a>-->
                <!--    </div>-->
                <!--  </div>-->
                <!--  </div>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <div class="card shadow mb-4">
                <div class="card-header"> <h5>Verify Details</h5>
                </div> 
                <div class="card-body">
                    <% if ( locals.phone_verify !== "verified") { %>
                  <% if (!otpSent) { %>
                    <h1>Enter your phone number</h1>
                    <form action="/panel/verify_details" method="POST">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                      <input class="form-control " readonly type="tel" name="phoneNumber" placeholder="Phone Number" value="<%- typeof locals != 'undefined' ? locals.phonenumber : '' %>"  required>
                      <button class="btn btn-primary mt-2" type="submit">Send OTP</button>
                    </form>
                  <% } else if (!verified) { %>
                    <h1>Verify OTP</h1>
                    <p>*Note - Enter Number After U-</p>
                    <form action="/panel/verify_otp" method="POST">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                      <input class="form-control" type="hidden" name="storedOTP" value="<%= otp %>">
                      <input class="form-control" type="text" name="otp" placeholder="OTP" required>
                      <button class="btn btn-primary mt-2" type="submit">Verify</button>
                    </form>
                  <% } else { %>
                    <div class="beautiful-section">
                      <img src="images/success.gif" width="220px"><br>
                      <h1>Verified Successful!</h1>
                      <p>Your verification was successful. Thank you!</p>
                    </div>
                  <% } %>
                 <% } else { %>
                  <div class="beautiful-section">
                    <img src="images/success.gif" width="220px"><br>
                    <h1>Verified Successful!</h1>
                    <p>Your verification was successful. Thank you!</p>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>
        </div></div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include('includes/footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
   
</body>      
