<%- include('includes/head.ejs') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
            <body>
            <div class="container-scroller">
              <!-- partial:partials/_navbar.html -->
              <%- include('includes/navbar.ejs') %>
              <!-- partial -->
              <div class="container-fluid page-body-wrapper">
                <!-- partial -->
                <!-- partial:partials/_sidebar.html -->
                <%- include('includes/sidebar.ejs') %>
                <!-- partial -->
                <div class="main-panel"> <div class="content-wrapper">
                  <div class="row">
                    <div class="col-md-12 grid-margin">
                      <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                          <h3 class="font-weight-bold">View Activity</h3>

                        </div>
                      </div>
                    </div>
                </div>

                  <div class="row">
                    <div class="col-md-12 ">
                        <div class="card shadow mb-4">
                          <div class="card-header">
                            <div class="row ">
                              <h5 class="col pt-2">View Activity Log</h5>
                            
                          </div>
                          </div> 
                        <div class="card-body">
                          <div class="table-responsive">
                                <table    class=" table  table-striped display expandable-table"  width="100%" cellspacing="0">
                                    <thead class="table-light">
                                        <tr class=" text-center">
                                          <th>S.No.</th>
                                          <th>Name</th>
                                          <th>Email</th>
                                          <th>Activity</th>
                                          <th>Created At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i< locals.length; i++) { %>
                                            <tr>
                                                <!-- <td><%= locals[i].id %></td> -->
                                                <td><%= i+1 %></td>
                                                <td><%= locals[i].name %></td>
                                                <td><%= locals[i].email %></td>
                                                <td><%= locals[i].activity %></td>
                                                <td><%= locals[i].createdAt %></td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                    </tfoot>
                                </table>
                            </div>
                            </div>
                        </div>
                  
                
                        </div>
                      </div>
                    </div>
           
      
                  <!-- content-wrapper ends -->
                  <!-- partial:partials/_footer.html -->
                  <%- include('includes/footer.ejs') %>
                  <!-- partial -->
                </div>
                <!-- main-panel ends -->
              </div>
              <!-- page-body-wrapper ends -->
            </div>
              <!-- <script>
                function generate_qr(shortname) {
                  // Send a request to the server to execute the batch file with the shortname
                  $.ajax({
                    url: `/generate_qr?shortname=${shortname}`,
                    method: 'GET',
                    success: function (data) {
                      alert(data.msg);
                    },
                    error: function (error) {
                      console.error('There was a problem with the AJAX request:', error.responseText);
                    }
                  });
                }
              </script> -->
              <script>
                function generate_qr(shortname) {
                  // Send a request to the server to execute the batch file with the shortname
                  $.ajax({
                    url: `/generate_qr?shortname=https://upreak.com/register/${shortname}`,
                    method: 'GET',
                    success: function (data) {
                      alert(data.msg);
              
                      // Download the QR code on the frontend
                      downloadQR(data.data, `Qr_${shortname}.png`);
                    },
                    error: function (error) {
                      console.error('There was a problem with the AJAX request:', error.responseText);
                    }
                  });
                }
              
                function downloadQR(base64Data, fileName) {
                  // Create a virtual link element
                  const link = document.createElement('a');
                  link.href = `data:image/png;base64,${base64Data}`;
                  link.download = fileName;
              
                  // Trigger a click event to initiate the download
                  document.body.appendChild(link);
                  link.click();
                  document.body.removeChild(link);
                }
              </script>
              <!-- added beacause it is not working properly -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

<script>
  $(document).ready(function() {
      $('table').DataTable({
          dom: 'Bfrtip',
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ]
      });
  });
</script>
</body>
    